In [ ]:
st = 'Print only the words that start with s in this sentence'

In [ ]:
st

In [ ]:
# Use for, .split(), and if to create a Statement that will print out words that start with 's'

In [ ]:
for word in st.split():
    if word[0] == 's':
        print(word)

In [ ]:
# Use range() to print all the even numbers from 0 to 10.

In [ ]:
print(range(0,11))

In [ ]:
range(0,11)

In [ ]:
evens = range(0,11)

In [ ]:
evens

In [ ]:
evens = []

In [ ]:
evens = [num for num in range(0,11) if num%2==0]

In [ ]:
evens

In [ ]:
st = 'Print every word in this sentence that has an even number of letters'

In [ ]:
for word in st.split():
    if len(word)%2==0:
        print(word)



Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [ ]:
for num in range(1,101):
    if num%3==0:
        if num%5==0:
            print("FizzBuzz")
        else:
            print("Fizz")
    elif num%5==0:
        print("Buzz")
    else:
        print(num)

In [ ]:
st = 'Create a list of the first letters of every word in this string'

In [ ]:
newlist = []

In [ ]:
newlist = [letter[0] for letter in st.split()]

In [ ]:
newlist

In [ ]:
################################################

In [ ]:
def cigar_party(cigars, is_weekend):
    if is_weekend and cigars>=40:
        return True
    elif cigars>=40 and cigars<=60:
        return True
    else:
        return False

In [ ]:
cigar_party(70, True)

In [ ]:
################################################

In [ ]:
def animal_crackers(text):
    words = text.split()
    return (words[0][0] == words[1][0])

In [ ]:
animal_crackers('hello harry')

In [ ]:
type(animal_crackers('hello world'))

In [ ]:
def makes_twenty(*args):
    return (sum(args))

In [ ]:
makes_twenty(1,2,3,4,5)

In [ ]:
def makes_twenty(*args):
    return ((sum(args)==20) or (20 in args))

In [ ]:
makes_twenty(10,10)

In [ ]:
def old_macdonald(name):
    new_name = ''
    new_name = new_name + name[0].upper()
    new_name = new_name + name[1:3]
    new_name = new_name + name[3].upper()
    new_name = new_name + name[4:]
    return new_name

In [ ]:
old_macdonald('macdonald')

In [ ]:
def master_yoda(text):
    old_phrase = text.split()
    new_phrase = " ".join([old_phrase[2],old_phrase[1],old_phrase[0]])
    return new_phrase

In [ ]:
master_yoda('I am home')

In [ ]:
def master_yoda(text):
    phrase = text.split()
    return phrase[1] + phrase[0]

In [ ]:
master_yoda('hello there')

In [ ]:
def almost_there(n):
    return (((n>=90) or (n>=190)) and ((n<=110) or n<=210))

In [ ]:
almost_there(104)

In [ ]:
def has_33(nums):
    check1 = False
    check2 = False # if this is true, there are 2 3's next to each other
    
    for num in nums:
        if check1 == True:
            if num == 3:
                check2 = True
            else:
                check1 = False
        elif num == 3:
            check1 = True
        
    return check2

In [ ]:
has_33([3, 3, 3])

In [ ]:
def paper_doll(text):
    new_string = ''
    for letter in text:
        new_string = new_string + (letter * 3)
    return new_string

In [ ]:
paper_doll('hello')

In [ ]:
def blackjack(a,b,c):
    if sum([a,b,c]) <=21:
        return sum([a,b,c])
    else:
        if 11 in ([a,b,c]):
            return sum([a,b,c]) - 11
        else:
            return 'BUST'

In [ ]:
blackjack(7,11,7)

In [35]:
def summer_69(arr):
    new_list = []
    count = True
    
    for num in arr:
        if num == 6:
            count = False
        elif num == 9:
            count = True
        else:
            pass
        
        if count and num != 9:
            new_list.append(num)
        else:
            pass
    return sum(new_list)

In [36]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [15]:
summer_69([1, 3, 5])

9

In [39]:
def spy_game(nums):
    index = 0
    
    for num in nums:
        if index+2 <= len(nums):
            if nums[index] == 0:
                if nums[index+1] == 0:
                    if nums[index+2] == 7:
                        return True
                    else:
                        pass
                else:
                    pass
            else:
                index += 1
        else:
            pass
    return False

In [40]:
spy_game([1,2,4,0,0,7,5])

True

In [86]:
def count_primes(num):
    is_prime = False
    number_of_primes = 1 # start at 1 to include 2 in the count of prime numbers
    print(2)
    
    for x in range(2,num):
        for y in range(2,x):
            if x%y==0:
                is_prime = False
                break
            else:
                is_prime = True
        if is_prime:
            number_of_primes += 1
            print(x)
            
    print(number_of_primes)

In [87]:
count_primes(15)

2
3
5
7
11
13
6

In [166]:
letters = {'a':'\n  * \n*   * \n*****\n*   *\n','b':'\n***\n*  *\n***\n*  *\n****\n','c':'\n ***\n*   *\n*\n*   *\n ***\n','d':'\n****\n*   *\n*   *\n****\n','e':'\n****\n*\n**\n*\n****\n'}

In [167]:
print(letters['a'],letters['b'],letters['c'],letters['d'],letters['e'])

  *
*   *
*****
*   *

***
*  *
***
*  *
****

 ***
*   *
*
*   *
 ***

****
*   *
*   *
****

****
*
**
*
****

In [158]:
mydict = {'fruit':'banana','veggie':'kale','nut':'acorn'}

In [95]:
mydict['fruit']

'banana'