This workbook covers Section 5

34 - If, Elif, and Else Statements in Python

In [2]:
# if, elif, and else statements are the beginning of control flow.
# When we only want certain code to execute when a particular condition has been met.
# Example:
# if my dog is hungry (a condition), then I will feed my dog (an action).

In [3]:
# Control Flow syntax uses colons and indentions, or whitespace
# The indentation system is crucial to Python and is what sets it apart from other languages

In [4]:
# syntax of a basic if statement
#
# if some_condition:
#    # execute some code

In [5]:
# syntax of an if statement also using an else statement
#
# if some_condition:
#    # execute some code
# else:
#    # do something else

In [6]:
# syntax of an if statement that checks for multiple conditions using elif and else statements
#
# if some_condition:
#    # execute some code
# elif some_other_condition:
#    # do something different
# else:
#    # do something else

In [7]:
# examples
if True:
    print('ITS TRUE!')

ITS TRUE!

In [8]:
if False:
    print('what is it?')

In [9]:
# Notice that printed nothing.
# I don't fully grasp this logic.
# if True...if WHAT is true?  Does Python default to true on logic conditions like this?  Can the condition change?

In [10]:
hungry = True

if hungry:
    print("Let's eat!!")

Let's eat!!

In [11]:
hungry = False

if hungry:
    print("Let's eat!!")
else:
    print("I'm good")

I'm good

In [12]:
# make sure the indentation is lined up correctly.  Should be automatic in the editors.

In [13]:
# since hungry by itself is already a boolean, you don't have to say:
# ...
# if hungry == True:
# ...
#
# you can just say:
# ...
# if hungry:
# ...

In [14]:
# Mutiple branches with if, elif, and else

In [15]:
loc = "Bank"

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("I love money!")
else:
    print("I do not know much!")

I love money!

In [16]:
name = "Paul"

if name == "Frankie":
    print("Hello Frankie")
elif name == "Sammy":
    print("Hello Sammy")
else:
    print("What is your name?")

What is your name?

35 - For Loops in Python

In [19]:
# Many objects in Python are iterable.
# Iterate is to perform an action for every "thing" in an object.
# Every element in a list or every character in a string, every key in a dictionary
# We can use loops to execute a block of code for every iteration

In [22]:
# Syntax of a for loop
# my_iterable = [1,2,3]     # this is just an assignment
# for item_name in my_iterable:     # item_name is just a placeholder for every item in the iterable
#    print(item_name)       # this is just the block of code to execute for every item
#>> 1
#>> 2
#>> 3

In [23]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [24]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [29]:
# add in some control flow to print only the even numbers in the list
for num in mylist:
    # Check for even
    if num % 2 == 0:
        print(f"The number {num} is even")  # Remember how to use the f-string literal in a print statement?

The number 2 is even
The number 4 is even
The number 6 is even
The number 8 is even
The number 10 is even

In [32]:
# Get the sum of every number in the list
list_sum = 0

for num in mylist:
    list_sum += num
    
print(f"The sum of the list is: {list_sum}")

The sum of the list is: 55

In [33]:
# Notice that when writing the code, the instructor will add a blank line between blocks of code.
# Above, the assignments are separate
# The for loop code is separate
# And the code outside and after the for loop is separate

In [38]:
# Running tally of the sum of every number in the list
list_sum = 0
scratch_pad = 0

for num in mylist:
    scratch_pad = list_sum
    list_sum += num
    print(f"{scratch_pad} + {num} is: {list_sum}")  # this code is now indented so it is inside the for loop

0 + 1 is: 1
1 + 2 is: 3
3 + 3 is: 6
6 + 4 is: 10
10 + 5 is: 15
15 + 6 is: 21
21 + 7 is: 28
28 + 8 is: 36
36 + 9 is: 45
45 + 10 is: 55

In [39]:
mystring = "Hello World"

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [41]:
# maybe you don't intend to use the variable doing the iteration
# maybe you just need to iterate over a string for as many times as there are characters

In [45]:
for _ in "Hello world":   # use the underscore _ when you don't intend to use the variable name
    print("cool")

cool
cool
cool
cool
cool
cool
cool
cool
cool
cool
cool

In [48]:
# iterating through a tuple
tup = (1,2,3,4)

for item in tup:
    print(item)

1
2
3
4

In [52]:
# tuple unpacking
# tuples have a special quality when used in for loops
# when iterating through an items that itself contains tuples, you can use tuple unpacking

In [53]:
# make a list of tuples
mylist = [(1,2),(3,4),(5,6),(7,8)]
len(mylist)

4

In [54]:
type(mylist)

list

In [57]:
type(mylist[0])

tuple

In [58]:
print(mylist[0])

(1, 2)

In [59]:
# every item in mylist is a tuple pair

for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [60]:
# The data structure of creating a list of tuples is extremely common in python.

In [61]:
# here's what tuple unpacking looks like

for (a,b) in mylist:     # using (a,b) for a temporary variable written like a tuple
    print(f"a = {a}         b = {b}")

a = 1         b = 2
a = 3         b = 4
a = 5         b = 6
a = 7         b = 8

In [62]:
# it's a lot more common to see it without the parenthesis in the for loop

for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [63]:
# another example

mylist = [(1,2,3),(5,6,7),(9,10,11)]

In [65]:
for item in mylist:
    print(item)

(1, 2, 3)
(5, 6, 7)
(9, 10, 11)

In [70]:
for a,b,c in mylist:
    print(a,b,c)

1 2 3
5 6 7
9 10 11

In [73]:
# iterate through a dictionary
# By default, when you iterate through a dictionary, you only iterate through the keys

d = {'k1':1,'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [76]:
# By default, when you iterate through a dictionary, you only iterate through the keys
# To iterate through the items themselves, what you do is call dot items  .items()

d = {'k1':1,'k2':2,'k3':3}

for item in d.items():
    print(item)
    print(type(item))

('k1', 1)
<class 'tuple'>
('k2', 2)
<class 'tuple'>
('k3', 3)
<class 'tuple'>

In [77]:
# Calling .items() creates a tuple out of the dictionary key:value pair

In [85]:
# Try tuple unpacking on a dictionary

d = {'k1':1,'k2':2,'k3':3}

for a,b in d.items():
    print(f"key is {a}   value is {b}")
    print(f"{a} is a {type(a)}     {b} is a {type(b)}\n")

key is k1        value is 1
k1 is a <class 'str'>     1 is a <class 'int'>

key is k2        value is 2
k2 is a <class 'str'>     2 is a <class 'int'>

key is k3        value is 3
k3 is a <class 'str'>     3 is a <class 'int'>

In [86]:
# if you want tuples from a dictionary, use a statement like this:
# for item in d:

# if you want to unpack the tuples into keys and values, the key will be a string and the value whatever it is
# for a,b in d.items():

# if you just want the values, call dot values  .values():
# for value in d.values():

In [89]:
d = {'k1':1,'k2':2.2,'k3':'3','k4':True}

# just return the values
for value in d.values():
    print(f"Value {value} is a {type(value)}")

Value 1 is a <class 'int'>
Value 2.2 is a <class 'float'>
Value 3 is a <class 'str'>
Value True is a <class 'bool'>

<strong><big>36 - While Loops in Python</big></strong>

In [4]:
# while loops execute code "while" a condition is true
# while some condition is true, execute this code
# while my pool is not full, keep filling my pool with water

In [5]:
# Syntax for a while loop:

# while some_boolean_condition:
#    # do something

In [7]:
# You can use an else statement with a while loop

# while some_boolean_condition:
#    # do something
# else:
#    # do something different

In [10]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1
    x += 1  # This is a better way to write the increment
else:
    print('x is not less than 5')

The current value of x is 0
The current value of x is 2
The current value of x is 4
x is not less than 5

In [12]:
# Helpful keywords to use with loops
# break:
#      Breaks out of the current closest enclosing loop
# continue:
#      Goes to the top of the closest enclosing loop
# pass:
#      Does nothing at all

In [16]:
# pass example

x = [1,2,3]

for item in x:
    # iterate over x here
    pass  # this means do nothing, can be helpful to get the code going until all the details are done

print('end of my script')

end of my script

In [19]:
# continue example

mystring = 'Sammy'

for letter in mystring:
    # I don't want to print the letter 'a'
    if letter == 'a':
        print('this part of the loop skips "a"')
        continue
    print(letter)

S
this part of the loop skips "a"
m
m
y

In [25]:
# break example
# same code above but using 'break' instead of 'continue'

mystring = 'Sammy'

for letter in mystring:
    # I don't want to print the letter 'a'
    if letter == 'a':
        print('this stops the loop at the letter "a"')
        print('though the condition is true at the beginning of the loop,')
        print('the rest of the code in the loop still executes')
        print('which is why this statement is printed last')
        # notice thie print statement runs when all the rest of the code in the loop executes
        break
    letter = "b"
    print(letter)
    letter = 'c'
    print(letter)
    letter = 'd'
    print(letter)
    letter = 'e'
    print(letter)

b
c
d
e
this stops the loop at the letter "a"
though the condition is true at the beginning of the loop,
the rest of the code in the loop still executes
which is why this statement is printed last

In [32]:
# another break example

x = 0

while x < 5:
    if x == 2:
        print(f'final value of x in the code is {x}')
        print('watch your variables - did the code change the value after this break statement?')   
        break
    
    print(x)
    x += 1

0
1
final value of x in the code is 2
watch your variables - did the code change the value after this break statement?

<strong>37 - Useful Operators in Python</strong>

In [37]:
mylist = [1,2,3]

In [47]:
################ the range() function in python
# type range () and hit shift-tab to see the syntax
# range(start, stop, step)
# put one value in it assumes that's stop
# put two values in it assumes that's start and stop
# all three is start, stop, step
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [40]:
for num in range(2,10):
    print(num)

2
3
4
5
6
7
8
9

In [41]:
for num in range(2,10,2):
    print(num)

2
4
6
8

In [43]:
# if you want to include 10 in the even numbers, you have to go one higher
for num in range(2,11,2):
    print(num)

2
4
6
8
10

In [44]:
# if you just type the function in the cell you get:

range(0,11,2)

range(0, 11, 2)

In [46]:
# this is because it's a generator
# cast it to a list

list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [48]:
############## enumerate() function

In [49]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [53]:
# this is a very common operation in python
# a lot of people use this code

index_count = 0

word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count +=1

a
b
c
d
e

In [57]:
# So Python created the enumerate() function

word = 'abcde'

for item in enumerate(word):
    print(item)
    print(type(item))

(0, 'a')
<class 'tuple'>
(1, 'b')
<class 'tuple'>
(2, 'c')
<class 'tuple'>
(3, 'd')
<class 'tuple'>
(4, 'e')
<class 'tuple'>

In [58]:
# enumerate()
# returns index position and the character in the index position in tuples

In [62]:
# you can use tuple unpacking with enumerate()

word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print("\n")

0
a


1
b


2
c


3
d


4
e

In [63]:
############################# zip() function
# opposite of enumerate()
# it zips together 2 lists

In [66]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d','e']

In [67]:
zip(mylist1,mylist2)

In [68]:
print(zip(mylist1,mylist2))

<zip object at 0x7f0e22c17300>

In [69]:
# zip is a generator, it just puts the generated list in that memory location

In [72]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [76]:
# more tuples
mylist3 = [100,200,300,400,500,600,700]

In [75]:
for item in zip(mylist1,mylist3,mylist2):
    print(item)

(1, 100, 'a')
(2, 200, 'b')
(3, 300, 'c')
(4, 400, 'd')
(5, 500, 'e')

In [77]:
# zip() can only zip together up to the shortest list
# it won't keep going once one of the lists runs out of items

In [78]:
# remember you can cast it as a list
my_new_items = list(zip(mylist1,mylist2,mylist3))

In [79]:
my_new_items

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300), (4, 'd', 400), (5, 'e', 500)]

In [80]:
type(my_new_items)

list

In [83]:
# also remember you can unpack the tuple

for a,b,c in zip(mylist1,mylist3,mylist2):
    print(b)

100
200
300
400
500

In [84]:
################# the "in" operator
# check to see if an item is in a list

'x' in [1,2,3]

False

In [85]:
'x' in ['x','y','x']

True

In [87]:
'a' in 'true american'

True

In [88]:
'a' in 'true American'

True

In [89]:
'a' in 'USA'

False

In [90]:
# also works in dictionaries
mydict = {'mykey':123,'newkey':456}

'mykey' in mydict

True

In [91]:
345 in mydict

False

In [92]:
345 in mydict.values()

False

In [93]:
456 in mydict.values()

True

In [94]:
456 in mydict

False

In [95]:
# checks the keys unless specifically told to check the values

In [97]:
##################### min, max

mylist = [10,20,30,40,50,60]

In [98]:
min(mylist)

10

In [99]:
max(mylist)

60

In [100]:
newlist = [1.1,2.2,3.3,4.4,5.5]

In [101]:
min(mylist)

10

In [102]:
min(newlist)

1.1

In [103]:
max(newlist)

5.5

In [104]:
letterlist = ['a','b','c']

In [105]:
min(letterlist)

'a'

In [106]:
max(letterlist)

'c'

In [107]:
#  Wow! min/max works with a list of letters

In [108]:
################  Random library
# import functions from a library
# type "from random import " and hit tab to see all the functions available to import

from random import shuffle

In [109]:
mylist = [1,2,3,4,5,6,7,8,9]

In [110]:
shuffle(mylist)

In [111]:
mylist

[4, 3, 5, 8, 6, 9, 2, 1, 7]

In [112]:
shuffle(mylist)

In [113]:
mylist

[7, 1, 6, 9, 3, 8, 5, 4, 2]

In [114]:
# shuffle() scrambles the list each time it's run
# it's an in-place function, meaning it operates in-place on that list

In [115]:
# grabbing a random integer

from random import randint

In [116]:
# randint() syntax
# randint(low_end,high_end)

randint(0,100)

78

In [117]:
randint(0,100)

50

In [118]:
mynum = randint(0,100)

In [119]:
mynum

89

In [120]:
############################ input()
# accept user input

input('enter a number ')

enter a number 3

'3'

In [121]:
result = input('what is your name? ')

what is your name? paul

In [122]:
result

'paul'

In [124]:
# input always accepts what you enter as a string

result = input('enter a number: ')

enter a number: 34

In [125]:
type(result)

str

In [129]:
# if you entered a number, you can transform it into another data type

In [130]:
result

'34'

In [131]:
float(result)

34.0

In [132]:
int(result)

34

In [139]:
name = "p"

In [140]:
name[1:]

''

In [147]:
name[-1]

'p'

In [142]:
name[-1::] + name[1:(len(name)-1)] + name[0]

'pp'

In [138]:
name[-1]

'l'

In [145]:
str = "h"

In [146]:
str[-1] + str[1:(len(str)-1)] + str[0]

'hh'

In [148]:
str

'h'

In [149]:
str[-1]

'h'

</strong>38 - List Comprehensions in Python

In [151]:
# List Comprehensions are a unique way of quickly creating a list with Python.
# Use this as an alternative to using a "for loop" along with ".append()" to create a list.

In [152]:
# for example, make a list of every character in "hello"

mystring = "hello"

In [153]:
# old way
# start with an empty list

mylist = []

In [154]:
# here's that for loop

for letter in mystring:
    mylist.append(letter)

print(mylist)

['h', 'e', 'l', 'l', 'o']

In [155]:
type(mylist)

list

In [156]:
type(mylist[0])

str

In [157]:
# here's that unique Python way to do it on a single line
# basically break down the for loop

In [159]:
yourlist = []

In [160]:
yourlist = [letter for letter in mystring]

In [161]:
yourlist

['h', 'e', 'l', 'l', 'o']

In [162]:
type(yourlist)

list

In [163]:
type(yourlist[0])

str

In [164]:
# so what happened in that code?
# the logic is basically a flattened-out for loop

In [165]:
# another example

thislist = []

thislist = [singlecharacter for singlecharacter in "Now is the time for all good men to come to the aid of their country"]

In [166]:
thislist

['N',
 'o',
 'w',
 ' ',
 'i',
 's',
 ' ',
 't',
 'h',
 'e',
 ' ',
 't',
 'i',
 'm',
 'e',
 ' ',
 'f',
 'o',
 'r',
 ' ',
 'a',
 'l',
 'l',
 ' ',
 'g',
 'o',
 'o',
 'd',
 ' ',
 'm',
 'e',
 'n',
 ' ',
 't',
 'o',
 ' ',
 'c',
 'o',
 'm',
 'e',
 ' ',
 't',
 'o',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'a',
 'i',
 'd',
 ' ',
 'o',
 'f',
 ' ',
 't',
 'h',
 'e',
 'i',
 'r',
 ' ',
 'c',
 'o',
 'u',
 'n',
 't',
 'r',
 'y']

In [169]:
word = ""
sentance = []
for item in thislist:
    if item != " ":
        word += item
    else:
        sentance.append(word)
        word = ""
sentance.append(word)
print(sentance)

['Now', 'is', 'the', 'time', 'for', 'all', 'good', 'men', 'to', 'come', 'to', 'the', 'aid', 'of', 'their', 'country']

In [168]:
sentance

['Now',
 'is',
 'the',
 'time',
 'for',
 'all',
 'good',
 'men',
 'to',
 'come',
 'to',
 'the',
 'aid',
 'of',
 'their']

In [170]:
# what will this do??

whatlist = []

whatlist = [word for word in sentance]

In [171]:
whatlist

['Now',
 'is',
 'the',
 'time',
 'for',
 'all',
 'good',
 'men',
 'to',
 'come',
 'to',
 'the',
 'aid',
 'of',
 'their',
 'country']

In [172]:
# that just made another list out of a list using list comprehension

In [175]:
# an example of using list compression to create a list of numbers

mylist = []

mylist = [x for x in range(0,11)]

In [176]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [177]:
# remember that range(0,11) will generate numbers up to but not including 11

In [179]:
# you can also perform arithmatic operations on the first variable in the statement
# this creates a list of squares

mylist = []

mylist = [num**2 for num in range(0,11)]

print(mylist)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [180]:
# now use it to only grab even numbers

mylist = []

mylist = [x for x in range(0,11) if x%2==0]

print(mylist)

[0, 2, 4, 6, 8, 10]

In [181]:
# now square just the even numbers

mylist = []

mylist = [x**2 for x in range(0,11) if x%2==0]

print(mylist)

[0, 4, 16, 36, 64, 100]

In [182]:
# use list comprehension to convert a list of temperatures from celcius to fahrenheit

celsius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celsius]
print(fahrenheit)

[32.0, 50.0, 68.0, 94.1]

In [184]:
# now do the above as a for loop just to understand it
# I did this myself, didn't just watch the guy on the video
fahrenheit = []

for temp in celsius:
    fahrenheit.append((9/5)*temp + 32)
    
print(fahrenheit)

[32.0, 50.0, 68.0, 94.1]

In [188]:
###  if/else statements in a list comprehension
# order is a little different
# caveat noted, that putting all this on one line vs a for loop can make it very hard to read later
# Be kind to your future self!

results = [x if x%2==0 else 'ODD' for x in range(0,11)]

print(results)

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [190]:
###  NESTED LOOPS in a list comprehensions??

mylist = []

for x in [2,4,6]:
    for y in [1,10,100]:
        mylist.append(x*y)
print(mylist)

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [191]:
# now do it with list comprehension

mylist = [x*y for x in [2,4,6] for y in [1,10,100]]
print(mylist)

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [ ]:
# This is the end of Section 5
# 39 is the Python Statements test