In [ ]:
st = 'Print only the words that start with s in this sentence'

In [ ]:
st

In [ ]:
# Use for, .split(), and if to create a Statement that will print out words that start with 's'

In [ ]:
for word in st.split():
    if word[0] == 's':
        print(word)

In [ ]:
# Use range() to print all the even numbers from 0 to 10.

In [ ]:
print(range(0,11))

In [ ]:
range(0,11)

In [ ]:
evens = range(0,11)

In [ ]:
evens

In [ ]:
evens = []

In [ ]:
evens = [num for num in range(0,11) if num%2==0]

In [ ]:
evens

In [ ]:
st = 'Print every word in this sentence that has an even number of letters'

In [ ]:
for word in st.split():
    if len(word)%2==0:
        print(word)



Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [ ]:
for num in range(1,101):
    if num%3==0:
        if num%5==0:
            print("FizzBuzz")
        else:
            print("Fizz")
    elif num%5==0:
        print("Buzz")
    else:
        print(num)

In [ ]:
st = 'Create a list of the first letters of every word in this string'

In [ ]:
newlist = []

In [ ]:
newlist = [letter[0] for letter in st.split()]

In [ ]:
newlist

In [ ]:
################################################

In [ ]:
def cigar_party(cigars, is_weekend):
    if is_weekend and cigars>=40:
        return True
    elif cigars>=40 and cigars<=60:
        return True
    else:
        return False

In [ ]:
cigar_party(70, True)

In [ ]:
################################################

In [ ]:
def animal_crackers(text):
    words = text.split()
    return (words[0][0] == words[1][0])

In [ ]:
animal_crackers('hello harry')

In [ ]:
type(animal_crackers('hello world'))

In [ ]:
def makes_twenty(*args):
    return (sum(args))

In [ ]:
makes_twenty(1,2,3,4,5)

In [ ]:
def makes_twenty(*args):
    return ((sum(args)==20) or (20 in args))

In [ ]:
makes_twenty(10,10)

In [ ]:
def old_macdonald(name):
    new_name = ''
    new_name = new_name + name[0].upper()
    new_name = new_name + name[1:3]
    new_name = new_name + name[3].upper()
    new_name = new_name + name[4:]
    return new_name

In [ ]:
old_macdonald('macdonald')

In [ ]:
def master_yoda(text):
    old_phrase = text.split()
    new_phrase = " ".join([old_phrase[2],old_phrase[1],old_phrase[0]])
    return new_phrase

In [ ]:
master_yoda('I am home')

In [ ]:
def master_yoda(text):
    phrase = text.split()
    return phrase[1] + phrase[0]

In [ ]:
master_yoda('hello there')

In [ ]:
def almost_there(n):
    return (((n>=90) or (n>=190)) and ((n<=110) or n<=210))

In [ ]:
almost_there(104)

In [ ]:
def has_33(nums):
    check1 = False
    check2 = False # if this is true, there are 2 3's next to each other
    
    for num in nums:
        if check1 == True:
            if num == 3:
                check2 = True
            else:
                check1 = False
        elif num == 3:
            check1 = True
        
    return check2

In [ ]:
has_33([3, 3, 3])

In [ ]:
def paper_doll(text):
    new_string = ''
    for letter in text:
        new_string = new_string + (letter * 3)
    return new_string

In [ ]:
paper_doll('hello')

In [ ]:
def blackjack(a,b,c):
    if sum([a,b,c]) <=21:
        return sum([a,b,c])
    else:
        if 11 in ([a,b,c]):
            return sum([a,b,c]) - 11
        else:
            return 'BUST'

In [ ]:
blackjack(7,11,7)

In [35]:
def summer_69(arr):
    new_list = []
    count = True
    
    for num in arr:
        if num == 6:
            count = False
        elif num == 9:
            count = True
        else:
            pass
        
        if count and num != 9:
            new_list.append(num)
        else:
            pass
    return sum(new_list)

In [36]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [15]:
summer_69([1, 3, 5])

9

In [39]:
def spy_game(nums):
    index = 0
    
    for num in nums:
        if index+2 <= len(nums):
            if nums[index] == 0:
                if nums[index+1] == 0:
                    if nums[index+2] == 7:
                        return True
                    else:
                        pass
                else:
                    pass
            else:
                index += 1
        else:
            pass
    return False

In [40]:
spy_game([1,2,4,0,0,7,5])

True

In [86]:
def count_primes(num):
    is_prime = False
    number_of_primes = 1 # start at 1 to include 2 in the count of prime numbers
    print(2)
    
    for x in range(2,num):
        for y in range(2,x):
            if x%y==0:
                is_prime = False
                break
            else:
                is_prime = True
        if is_prime:
            number_of_primes += 1
            print(x)
            
    print(number_of_primes)

In [87]:
count_primes(15)

2
3
5
7
11
13
6

In [166]:
letters = {'a':'\n  * \n*   * \n*****\n*   *\n','b':'\n***\n*  *\n***\n*  *\n****\n','c':'\n ***\n*   *\n*\n*   *\n ***\n','d':'\n****\n*   *\n*   *\n****\n','e':'\n****\n*\n**\n*\n****\n'}

In [167]:
print(letters['a'],letters['b'],letters['c'],letters['d'],letters['e'])

  *
*   *
*****
*   *

***
*  *
***
*  *
****

 ***
*   *
*
*   *
 ***

****
*   *
*   *
****

****
*
**
*
****

In [158]:
mydict = {'fruit':'banana','veggie':'kale','nut':'acorn'}

In [95]:
mydict['fruit']

'banana'

In [1]:
# function to solve for volume of a sphere
#  (4/3) * (3.14) * (radius ** 3)
# vol(2)
def vol(rad):
    return (4/3) * (3.14) * (rad ** 3)

In [2]:
vol(2)

33.49333333333333

In [8]:
def ran_check(num,low,high):
    if num in range(low,high):
        print(f'{num} is in the range between {low} and {high}')
    else:
        print(f'{num} is not in the range between {low} and {high}')

In [11]:
ran_check(8,2,7)

8 is not in the range between 2 and 7

In [6]:
def ran_bool(num,low,high):
    return num in range(low,high)

In [7]:
ran_bool(3,1,10)

True

In [18]:
def up_low(s):
    up = 0
    low = 0
    
    for letter in s:
        if letter == letter.upper():
            up += 1
        else:
            low += 1
    
    print('Original string: '+s)
    print(f'Number of upper case letters: {up}')
    print(f'Number of lower case letters: {low}')

In [19]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'

In [20]:
up_low(s)

Original string: Hello Mr. Rogers, how are you this fine Tuesday?
Number of upper case letters: 15
Number of lower case letters: 33

In [55]:
def unique_list(lst):

    myset = set((lst))
    new_lst = list(myset)
    
    return new_lst

In [56]:
unique_list('hello')

['e', 'l', 'h', 'o']

In [27]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [28]:
myset = {1,2,3,4}

In [29]:
type(myset)

set

In [31]:
myset.add(5)

In [32]:
myset

{1, 2, 3, 4, 5}

In [57]:
def multiply(numbers):  
    
    result = 1
    
    for num in numbers:
        result *= num
    return result

In [59]:
n = [1,2,3,4]
multiply(n)

24

In [69]:
def palindrome(s):
    new_s = s.replace(' ','')
    return new_s == new_s[::-1]

In [71]:
palindrome("hel loolleh")

True

In [72]:
import string

In [73]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [106]:
# Here's the function in long-form to get each piece right

import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    
    # remove spaces
    no_space = str1.replace(' ','')
    
    # remove duplicates
    temp_set = set((no_space.lower()))
    
    # order the string as a list
    temp_lst = sorted(temp_set)

    # cast it to a string again
    temp_str = ''.join(temp_lst)
    
    # compare the two
    print('Original: '+temp_str)
    print('Compare : '+string.ascii_lowercase)
    
    # return the result
    return temp_str == string.ascii_lowercase

In [107]:
h='abcdefghijklmnabcdefghijklmn'
ispangram(h)

Original: abcdefghijklmn
Compare : abcdefghijklmnopqrstuvwxyz

False

In [108]:
ispangram("The quick brown fox jumps over the lazy dog")

Original: abcdefghijklmnopqrstuvwxyz
Compare : abcdefghijklmnopqrstuvwxyz

True

In [118]:
# Here's the function in condensed-form

import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    
    # Combine all of this for efficiency.
    # But is the end still easy to read and follow?
    
    #no_space = str1.replace(' ','')
    #temp_set = set((no_space.lower()))
    #temp_lst = sorted(temp_set)
    #temp_str = ''.join(temp_lst)    
    
    
    # remove spaces in the string and remove duplicates by making it a set
    temp_set = set(((str1.replace(' ','')).lower()))
    
    # sort it in order as a list and cast it back to a string    
    temp_str = ''.join(sorted(temp_set))

    # return the result
    return temp_str == string.ascii_lowercase

In [119]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [13]:
test = ['1','2','3','4']
position = 1

In [26]:
test.pop(test.index(str(position)))

'1'

In [27]:
test

['4']

In [28]:
def place_marker(board, valid_moves, marker, position):
    
    board[position] = marker
    
    # remove that move from valid_moves
    valid_moves.pop(valid_moves.index(str(position)))
    
    return (board,valid_moves)

In [29]:
my_board = ['q','1','2','3','4','5','6','7','8','9']
valid_moves = ['1','2','3','4','5','6','7','8','9']

# player markers chosen with the function...
# player_choice()
# Result is returned as a tuple (player1_marker, player2_marker)
player1_marker = 'X'
player2_marker = 'O'

# how to decide which player is currently making a move
player = player1_marker

# Player picks a valid move to put his marker with the function...
# player_input(board):
# Takes in the board with the valid moves, returns the chosen move position
choice = 5

# This data will place an 'X' in position 5

In [31]:
my_board, valid_moves = place_marker(my_board, valid_moves, player, choice)

In [32]:
my_board

['q', '1', '2', '3', '4', 'X', '6', '7', '8', '9']

In [33]:
valid_moves

['1', '2', '3', '4', '6', '7', '8', '9']

In [34]:
test = True

In [35]:
test+

SyntaxError: invalid syntax (1064577630.py, line 1)

In [36]:
def change_player(player1_turn):
    player1_turn = not player1_turn
    return player1_turn

In [37]:
player1_turn = True

In [38]:
player1_turn

True

In [39]:
player1_turn = change_player(player1_turn)

In [40]:
player1_turn

False

In [ ]:
def check_won(board):
    
    # Check 3 in a row
    if (board[7] == board[8] == board[9]) or (board[4] == board[5] == board[6]) or (board[1] == board[2] == board[3]):
        won = True
        message = "You won! 3 in a row!"

    # Check 3 in a column
    elif (board[7] == board[4] == board[1]) or (board[8] == board[5] == board[2]) or (board[9] == board[9] == board[3]):
        won = True
        message = "You won! 3 in a column!"

    # Check 3 diagonally
    elif (board[7] == board[5] == board[3]) or (board[8] == board[5] == board[1]):
        won = True
        message = "You won! 3 diagonally!"

    else:
        won = False
        message = ""

    return (won, message)