Section 3: Python Object and Data Structure Basics

11 - Introduction to Python Data Types

In [18]:
# int      Integers   whole numbers:   3  300  200
# float    Floating Point   numbers with a decimal point:   2.3   4.6   100.0
# str      Strings   ordered sequence of characters:   "hello"   'sammy'   "2000"   "foreign letters"
# list     Lists   ordered sequence of objects:   [10,"hello",200.3]
# dict     Dictionaries   unordered Key:Value pairs:   {"mykey":"value","name":"Frankie"}
# tup      Tuples   ordered immutable sequence of objects:   (10,"hello",2.3)
# set      Sets   unordered collection of unique objects:   {"a","b"}
# bool     Booleans   logical value indicating True or False:   True   False

12 - Python Numbers

In [19]:
# There are 2 main number types in Python
# Integers - which are whole numbers
# Floating Point numbers - which are numbers with a decimal point

In [20]:
2+1

3

In [21]:
2-1

1

In [22]:
2*2

4

In [23]:
3/2

1.5

The Modulo or "Mod" operator

In [24]:
7/4

1.75

In [25]:
7 / 4

1.75

In [26]:
# 7 goes into 4 with a remainder of 3

In [27]:
# What if you only wanted to know the remainder?

In [29]:
# 7 mod 4 returns a remainder of 3
7 % 4

3

In [30]:
#50 mod 5 returns a remainder of 0
50%5

0

In [31]:
# when mod returns a remainder of 0 it means one number was evenly divisible by another number
# helpful when checking if a number is odd or even

In [33]:
# if 23 mod 2 results in anything other than zero, it's an odd number
23 % 2

1

Exponents or Powers

In [34]:
# 2 to the power of 3
2**3

8

In [35]:
2 ** 3

8

In [36]:
2 ** 3 % 2

0

In [37]:
# order of operations

In [38]:
2 + 10 * 10 + 3

105

In [39]:
(2 + 10) * (10 + 3)

156

In [40]:
# What's the difference between floating point and an integer?
# An integer has no decimals in it, and a floating point number can display digits past the decimal point.

In [41]:
0.1+0.2-0.3
# Why doesn't 0.1 + 0.2 - 0.3 equal 0.0?
# This has to do with floating point accuracy and the computer's abilities to represent numbers in memory.
# For a full breakdown, check out:
# https://docs.python.org/2/tutorial/floatingpoint.html

5.551115123125783e-17

In [42]:
0.1 + 0.2 - 0.3

5.551115123125783e-17

In [43]:
0.1 + 0.2 - 0.1

0.20000000000000004

14 - Variable Assignments

In [45]:
# Rules for variable names:
# - cannot start with a number
# - no spaces in the name, use _ instead
# - Can't use any of these symbols:
# : ' " / ? | \ ( ) ! @ # $ % ^ & * ~ - +

In [46]:
# More...
# Generally it's considered best practice (PEP8) that names are lowercase.
# Avoid words that have special meaning in Python, like "list" and "str"

In [47]:
# Python uses "dynamic typing."
# Unlike other languages, you can reassign variable names to other variable types throughout the program.

In [49]:
# Be aware of type() function

In [50]:
a = 5

In [51]:
a

5

In [52]:
a = 10

In [53]:
a

10

In [54]:
a + a

20

In [55]:
# Python allows reassignment with reference to the same object
a = a + a

In [56]:
a

20

In [57]:
a = a + a

In [58]:
a

40

In [59]:
type(a)

int

In [60]:
a = 30.1

In [61]:
type(a)

float

In [62]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [63]:
my_taxes

10.0

15 - Introduction to Strings

In [64]:
# Strings are sequences of characters, using the syntax of either single or double quotes:
# 'hello'
# "Hello"
# "I don't do that"

In [65]:
"hello"

'hello'

In [66]:
'hello'

'hello'

In [67]:
'"hello"'

'"hello"'

In [68]:
"'hello'"

"'hello'"

In [69]:
# Remember that strings are ORDERED SEQUENCES.
# This means that we can use indexing and slicing to grab sub-sections of the string.
# Indexing uses [] notation after the string or variable assigned the string.

In [70]:
# Indexing
# Use square brackets [] and a number index to indicate positions of what you want to grab.
# The number index starts with zero 0

In [71]:
# Reverse indexing
# Uses negative numbers, with -1 being the character in the furthermost right position.
# However the first character of the string is always zero 0.

In [73]:
# Slicing - allows you to grab a subsection of multiple characters, a slice of the string.
# Slicing syntax
# [start:stop:step]
# start is a numerical index for the slice start
# stop is the index you will go up to, but NOT include
# step is the size of the jump you take

In [74]:
'hello'

'hello'

In [75]:
"hello"

'hello'

In [76]:
"this is also a string"

'this is also a string'

In [77]:
# white or blank spaces count when indexing

In [78]:
"I'm going on a run"

"I'm going on a run"

In [79]:
'I"m going on a run'

'I"m going on a run'

In [82]:
# If you try to output more than one string in a Jupyter notebook cell, you only see the last one.
# Use Python's print statement to do this instead

In [83]:
'hello one'
"hello two"

'hello two'

In [84]:
print('hello one')
print('hello two')

hello one
hello two

In [85]:
print("'hello one'")
print("'hello two'")

'hello one'
'hello two'

In [90]:
# Printing on multiple lines with \n
print('hello world')
print('hello \nworld')

hello world
hello
world

In [91]:
# Printing with tab with \t
print('hello \tworld')

hello 	world

In [92]:
# Use the len() function
len('hello')

5

In [94]:
len('I am')

4

16 - Indexing and Slicing with Strings

In [1]:
mystring = "Hello world"

In [2]:
mystring

'Hello world'

In [3]:
mystring[1]

'e'

In [4]:
mystring(1)

TypeError: 'str' object is not callable

In [5]:
mystring[1:2:3]

'e'

In [6]:
mystring[-1]

'd'

In [7]:
mystring[::2]

'Hlowrd'

In [8]:
mystring[8]

'r'

In [9]:
mystring[9]

'l'

In [10]:
mystring[-2]

'l'

In [11]:
# index position [0] always grabs the first letter of a string
# index position [-1] always grabs the last letter of a string

In [12]:
# indexing grabs a character from a string
# slicing grabs a subsection from a string

In [13]:
mystring

'Hello world'

In [14]:
mystring = "abcdefghijk"

In [15]:
# Grab a subset of the string that starts in one index position and continues to the end of the string
mystring[2:]

'cdefghijk'

In [16]:
mystring[2::]

'cdefghijk'

In [17]:
# Grab everything upto a specific index
mystring[:3]

'abc'

In [19]:
# REMEMBER: although 'd' is in index position 3, it is not included
# When using a stop index [:3] it includes everything UP TO BUT NOT INCLUDING what's in that position

In [20]:
mystring

'abcdefghijk'

In [21]:
# Grab 'def' from the string
mystring[4:7]

'efg'

In [22]:
mystring[3:6]

'def'

In [23]:
# Grab 'bc' from the string
mystring[1:3]

'bc'

In [24]:
mystrign

NameError: name 'mystrign' is not defined

In [25]:
mystring

'abcdefghijk'

In [26]:
# Use string notation to grab everything in the string
mystring[::]

'abcdefghijk'

In [27]:
# The third parameter is the step size

In [28]:
mystring[::2]

'acegik'

In [29]:
binary_string = "0101010101010101"

In [30]:
binary_string[1::2]

'11111111'

In [31]:
binary_string[::2]

'00000000'

In [32]:
mystring[::-1]

'kjihgfedcba'

17 - String Properties and Methods

In [33]:
# Strings are immutable
# This means the string can't change

In [34]:
name = "Sam"

In [35]:
name[0] = 'P'

TypeError: 'str' object does not support item assignment

In [36]:
# you have to create a new string or recreate it with concatenation

In [37]:
name

'Sam'

In [38]:
name[1:]

'am'

In [41]:
last_letters = name[1::]

In [42]:
'P' + last_letters

'Pam'

In [43]:
x = 'Hello World'

In [44]:
x + " it is beautiful outside"

'Hello World it is beautiful outside'

In [45]:
x = x + ' it is beautiful outside'

In [46]:
x

'Hello World it is beautiful outside'

In [47]:
# That's string concatenation

In [48]:
# you can use multiplication, too

In [49]:
letter = 'z'

In [50]:
letter

'z'

In [51]:
letter * 10

'zzzzzzzzzz'

In [52]:
letter = letter * 10

In [53]:
letter

'zzzzzzzzzz'

In [54]:
2 + 3

5

In [55]:
'2' + '3'

'23'

In [56]:
# so watch the data types

In [57]:
# Python has built-in methods
# These are functions that are inside the objects

In [58]:
# Useful methods

In [59]:
x = 'Hello World'

In [61]:
# now type 'x.' and hit the tab key
x.capitalize()

'Hello world'

In [62]:
x.upper()

'HELLO WORLD'

In [63]:
x.casefold()

'hello world'

In [64]:
x.lower()

'hello world'

In [65]:
x.split()

['Hello', 'World']

In [66]:
# If you use x.split() this splits the string on the white space and makes a list out of it.

In [67]:
# Default is to split on the white space.  You can change that.

In [68]:
x = 'Hi this is a string'

In [69]:
x

'Hi this is a string'

In [70]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [ ]:
# that causes the split to happen on the 'i'

21 - String Formatting for Printing

In [1]:
# The idea is to inject a variable into the string you want to print.

In [3]:
# There are multiple ways to format strings for printing variables in them.
# This is called string interpolation.
# Two main methods for this:
#   .format()
#   f-strings  (formatted string literals)

Formatting with the .format() method

A good way to format oblects into your strings for print statements is with the string .format() method.
The syntax is:

'String here {} then also {}'.format('something1', 'something2')

In [4]:
print('This is a string {}'.format('YEAH...NO KIDDING!'))

This is a string YEAH...NO KIDDING!

In [5]:
print('The {} {} {}'.format('fox','brown','quick'))

The fox brown quick

In [6]:
# The default way .format() fills in the variables in the print() statement is in the order they are given.
# You can specify the index position of what you want from the .format() method.

In [8]:
print('The {1} {1} {0}'.format('fox','brown','quick'))

The brown brown fox

In [9]:
# You can also assign the positions key words to make it easier to read the code

In [10]:
print('The {b} {b} {f}'.format(f='fox',b='brown',q='quick'))

The brown brown fox

In [11]:
print('The {f} {f} {f}'.format(f='fox',b='brown',q='quick'))

The fox fox fox

In [12]:
# float formatting

In [13]:
result = 100/777

In [14]:
result

0.1287001287001287

In [15]:
# change the level of precision you want and change the width of the number itself

In [16]:
print('The result was {}'.format(result))

The result was 0.1287001287001287

In [17]:
print('The result was {r}'.format(r=result))

The result was 0.1287001287001287

In [18]:
# Float formatting syntax
# "{value:width.precision f}"
# Mostly care about the precision. How many places past the decimal point.
# Width mainly just adds whitespace

In [20]:
print('The result was {r:1.3f}'.format(r=result))

The result was 0.129

In [21]:
result = 104.9998

In [22]:
print('The result was {r:1.2f}'.format(r=result))

The result was 105.00

In [23]:
print('The result was {r:1.5f}'.format(r=result))

The result was 104.99980

In [25]:
print('The result was {r:10.2f}'.format(r=result))

The result was     105.00

In [26]:
print('The result was {r:10.5f}'.format(r=result))

The result was  104.99980

Formatting with f-string
Formatted string literals

In [27]:
name = "Jose"

In [28]:
# .format() call, i.e. the old way of doing it
print('Hello, his name is {}'.format(name))

Hello, his name is Jose

In [30]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [31]:
name = "Sam"
age = 3

In [33]:
print(f'{name} is now {age} years old')

Sam is now 3 years old