Section 3: Python Object and Data Structure Basics

11 - Introduction to Python Data Types

In [18]:
# int      Integers   whole numbers:   3  300  200
# float    Floating Point   numbers with a decimal point:   2.3   4.6   100.0
# str      Strings   ordered sequence of characters:   "hello"   'sammy'   "2000"   "foreign letters"
# list     Lists   ordered sequence of objects:   [10,"hello",200.3]
# dict     Dictionaries   unordered Key:Value pairs:   {"mykey":"value","name":"Frankie"}
# tup      Tuples   ordered immutable sequence of objects:   (10,"hello",2.3)
# set      Sets   unordered collection of unique objects:   {"a","b"}
# bool     Booleans   logical value indicating True or False:   True   False

12 - Python Numbers

In [19]:
# There are 2 main number types in Python
# Integers - which are whole numbers
# Floating Point numbers - which are numbers with a decimal point

In [20]:
2+1

3

In [21]:
2-1

1

In [22]:
2*2

4

In [23]:
3/2

1.5

The Modulo or "Mod" operator

In [24]:
7/4

1.75

In [25]:
7 / 4

1.75

In [26]:
# 7 goes into 4 with a remainder of 3

In [27]:
# What if you only wanted to know the remainder?

In [29]:
# 7 mod 4 returns a remainder of 3
7 % 4

3

In [30]:
#50 mod 5 returns a remainder of 0
50%5

0

In [31]:
# when mod returns a remainder of 0 it means one number was evenly divisible by another number
# helpful when checking if a number is odd or even

In [33]:
# if 23 mod 2 results in anything other than zero, it's an odd number
23 % 2

1

Exponents or Powers

In [34]:
# 2 to the power of 3
2**3

8

In [35]:
2 ** 3

8

In [36]:
2 ** 3 % 2

0

In [37]:
# order of operations

In [38]:
2 + 10 * 10 + 3

105

In [39]:
(2 + 10) * (10 + 3)

156

In [40]:
# What's the difference between floating point and an integer?
# An integer has no decimals in it, and a floating point number can display digits past the decimal point.

In [41]:
0.1+0.2-0.3
# Why doesn't 0.1 + 0.2 - 0.3 equal 0.0?
# This has to do with floating point accuracy and the computer's abilities to represent numbers in memory.
# For a full breakdown, check out:
# https://docs.python.org/2/tutorial/floatingpoint.html

5.551115123125783e-17

In [42]:
0.1 + 0.2 - 0.3

5.551115123125783e-17

In [43]:
0.1 + 0.2 - 0.1

0.20000000000000004

14 - Variable Assignments

In [45]:
# Rules for variable names:
# - cannot start with a number
# - no spaces in the name, use _ instead
# - Can't use any of these symbols:
# : ' " / ? | \ ( ) ! @ # $ % ^ & * ~ - +

In [46]:
# More...
# Generally it's considered best practice (PEP8) that names are lowercase.
# Avoid words that have special meaning in Python, like "list" and "str"

In [47]:
# Python uses "dynamic typing."
# Unlike other languages, you can reassign variable names to other variable types throughout the program.

In [49]:
# Be aware of type() function

In [50]:
a = 5

In [51]:
a

5

In [52]:
a = 10

In [53]:
a

10

In [54]:
a + a

20

In [55]:
# Python allows reassignment with reference to the same object
a = a + a

In [56]:
a

20

In [57]:
a = a + a

In [58]:
a

40

In [59]:
type(a)

int

In [60]:
a = 30.1

In [61]:
type(a)

float

In [62]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [63]:
my_taxes

10.0

15 - Introduction to Strings

In [64]:
# Strings are sequences of characters, using the syntax of either single or double quotes:
# 'hello'
# "Hello"
# "I don't do that"

In [65]:
"hello"

'hello'

In [66]:
'hello'

'hello'

In [67]:
'"hello"'

'"hello"'

In [68]:
"'hello'"

"'hello'"

In [69]:
# Remember that strings are ORDERED SEQUENCES.
# This means that we can use indexing and slicing to grab sub-sections of the string.
# Indexing uses [] notation after the string or variable assigned the string.

In [70]:
# Indexing
# Use square brackets [] and a number index to indicate positions of what you want to grab.
# The number index starts with zero 0

In [71]:
# Reverse indexing
# Uses negative numbers, with -1 being the character in the furthermost right position.
# However the first character of the string is always zero 0.

In [73]:
# Slicing - allows you to grab a subsection of multiple characters, a slice of the string.
# Slicing syntax
# [start:stop:step]
# start is a numerical index for the slice start
# stop is the index you will go up to, but NOT include
# step is the size of the jump you take

In [74]:
'hello'

'hello'

In [75]:
"hello"

'hello'

In [76]:
"this is also a string"

'this is also a string'

In [77]:
# white or blank spaces count when indexing

In [78]:
"I'm going on a run"

"I'm going on a run"

In [79]:
'I"m going on a run'

'I"m going on a run'

In [82]:
# If you try to output more than one string in a Jupyter notebook cell, you only see the last one.
# Use Python's print statement to do this instead

In [83]:
'hello one'
"hello two"

'hello two'

In [84]:
print('hello one')
print('hello two')

hello one
hello two

In [85]:
print("'hello one'")
print("'hello two'")

'hello one'
'hello two'

In [90]:
# Printing on multiple lines with \n
print('hello world')
print('hello \nworld')

hello world
hello
world

In [91]:
# Printing with tab with \t
print('hello \tworld')

hello 	world

In [92]:
# Use the len() function
len('hello')

5

In [94]:
len('I am')

4

16 - Indexing and Slicing with Strings

In [1]:
mystring = "Hello world"

In [2]:
mystring

'Hello world'

In [3]:
mystring[1]

'e'

In [4]:
mystring(1)

TypeError: 'str' object is not callable

In [5]:
mystring[1:2:3]

'e'

In [6]:
mystring[-1]

'd'

In [7]:
mystring[::2]

'Hlowrd'

In [8]:
mystring[8]

'r'

In [9]:
mystring[9]

'l'

In [10]:
mystring[-2]

'l'

In [11]:
# index position [0] always grabs the first letter of a string
# index position [-1] always grabs the last letter of a string

In [12]:
# indexing grabs a character from a string
# slicing grabs a subsection from a string

In [13]:
mystring

'Hello world'

In [14]:
mystring = "abcdefghijk"

In [15]:
# Grab a subset of the string that starts in one index position and continues to the end of the string
mystring[2:]

'cdefghijk'

In [16]:
mystring[2::]

'cdefghijk'

In [17]:
# Grab everything upto a specific index
mystring[:3]

'abc'

In [19]:
# REMEMBER: although 'd' is in index position 3, it is not included
# When using a stop index [:3] it includes everything UP TO BUT NOT INCLUDING what's in that position

In [20]:
mystring

'abcdefghijk'

In [21]:
# Grab 'def' from the string
mystring[4:7]

'efg'

In [22]:
mystring[3:6]

'def'

In [23]:
# Grab 'bc' from the string
mystring[1:3]

'bc'

In [24]:
mystrign

NameError: name 'mystrign' is not defined

In [25]:
mystring

'abcdefghijk'

In [26]:
# Use string notation to grab everything in the string
mystring[::]

'abcdefghijk'

In [27]:
# The third parameter is the step size

In [28]:
mystring[::2]

'acegik'

In [29]:
binary_string = "0101010101010101"

In [30]:
binary_string[1::2]

'11111111'

In [31]:
binary_string[::2]

'00000000'

In [32]:
mystring[::-1]

'kjihgfedcba'

17 - String Properties and Methods

In [33]:
# Strings are immutable
# This means the string can't change

In [34]:
name = "Sam"

In [35]:
name[0] = 'P'

TypeError: 'str' object does not support item assignment

In [36]:
# you have to create a new string or recreate it with concatenation

In [37]:
name

'Sam'

In [38]:
name[1:]

'am'

In [41]:
last_letters = name[1::]

In [42]:
'P' + last_letters

'Pam'

In [43]:
x = 'Hello World'

In [44]:
x + " it is beautiful outside"

'Hello World it is beautiful outside'

In [45]:
x = x + ' it is beautiful outside'

In [46]:
x

'Hello World it is beautiful outside'

In [47]:
# That's string concatenation

In [48]:
# you can use multiplication, too

In [49]:
letter = 'z'

In [50]:
letter

'z'

In [51]:
letter * 10

'zzzzzzzzzz'

In [52]:
letter = letter * 10

In [53]:
letter

'zzzzzzzzzz'

In [54]:
2 + 3

5

In [55]:
'2' + '3'

'23'

In [56]:
# so watch the data types

In [57]:
# Python has built-in methods
# These are functions that are inside the objects

In [58]:
# Useful methods

In [59]:
x = 'Hello World'

In [61]:
# now type 'x.' and hit the tab key
x.capitalize()

'Hello world'

In [62]:
x.upper()

'HELLO WORLD'

In [63]:
x.casefold()

'hello world'

In [64]:
x.lower()

'hello world'

In [65]:
x.split()

['Hello', 'World']

In [66]:
# If you use x.split() this splits the string on the white space and makes a list out of it.

In [67]:
# Default is to split on the white space.  You can change that.

In [68]:
x = 'Hi this is a string'

In [69]:
x

'Hi this is a string'

In [70]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [ ]:
# that causes the split to happen on the 'i'

21 - String Formatting for Printing

In [1]:
# The idea is to inject a variable into the string you want to print.

In [3]:
# There are multiple ways to format strings for printing variables in them.
# This is called string interpolation.
# Two main methods for this:
#   .format()
#   f-strings  (formatted string literals)

Formatting with the .format() method

A good way to format oblects into your strings for print statements is with the string .format() method.
The syntax is:

'String here {} then also {}'.format('something1', 'something2')

In [4]:
print('This is a string {}'.format('YEAH...NO KIDDING!'))

This is a string YEAH...NO KIDDING!

In [5]:
print('The {} {} {}'.format('fox','brown','quick'))

The fox brown quick

In [6]:
# The default way .format() fills in the variables in the print() statement is in the order they are given.
# You can specify the index position of what you want from the .format() method.

In [8]:
print('The {1} {1} {0}'.format('fox','brown','quick'))

The brown brown fox

In [9]:
# You can also assign the positions key words to make it easier to read the code

In [10]:
print('The {b} {b} {f}'.format(f='fox',b='brown',q='quick'))

The brown brown fox

In [11]:
print('The {f} {f} {f}'.format(f='fox',b='brown',q='quick'))

The fox fox fox

In [12]:
# float formatting

In [13]:
result = 100/777

In [14]:
result

0.1287001287001287

In [15]:
# change the level of precision you want and change the width of the number itself

In [16]:
print('The result was {}'.format(result))

The result was 0.1287001287001287

In [17]:
print('The result was {r}'.format(r=result))

The result was 0.1287001287001287

In [18]:
# Float formatting syntax
# "{value:width.precision f}"
# Mostly care about the precision. How many places past the decimal point.
# Width mainly just adds whitespace

In [20]:
print('The result was {r:1.3f}'.format(r=result))

The result was 0.129

In [21]:
result = 104.9998

In [22]:
print('The result was {r:1.2f}'.format(r=result))

The result was 105.00

In [23]:
print('The result was {r:1.5f}'.format(r=result))

The result was 104.99980

In [25]:
print('The result was {r:10.2f}'.format(r=result))

The result was     105.00

In [26]:
print('The result was {r:10.5f}'.format(r=result))

The result was  104.99980

Formatting with f-string
Formatted string literals

In [27]:
name = "Jose"

In [28]:
# .format() call, i.e. the old way of doing it
print('Hello, his name is {}'.format(name))

Hello, his name is Jose

In [30]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [31]:
name = "Sam"
age = 3

In [33]:
print(f'{name} is now {age} years old')

Sam is now 3 years old

21 - Lists in Python

In [1]:
# Lists are ordered sequences
# They use brackets [] and commas to separate objects in the list
# [1,2,3,4,5]
# Lists support indexing and slicing. Lists can be nested.

In [2]:
my_list = [1,2,3]

In [3]:
my_list

[1, 2, 3]

In [4]:
# This was a list of integers
# You can mix the data types

In [5]:
my_list = ['string',100,23.4]

In [6]:
my_list

['string', 100, 23.4]

In [7]:
len(my_list)

3

In [8]:
# This means there are 3 elements or items in the list

In [9]:
# a list, like a string, uses ordered sequences of elements

In [10]:
# You can do many of the same things with a list that you can do with a string

In [11]:
my_list = ['one','two','three']

In [12]:
my_list[0]

'one'

In [13]:
# Remember to use the brackets [] when indexing or slicing

In [14]:
my_list[1:]

['two', 'three']

In [15]:
# you can concatenate lists together

In [16]:
my_list

['one', 'two', 'three']

In [17]:
another_list = ['four','five']

In [18]:
my_list + another_list

['one', 'two', 'three', 'four', 'five']

In [19]:
new_list = my_list + another_list

In [20]:
new_list

['one', 'two', 'three', 'four', 'five']

In [21]:
new_list

['one', 'two', 'three', 'four', 'five']

In [22]:
# One big difference between a list and a string is that you can mutate the list.
# You can change elements in a list by index position.
# Can't do that with strings

In [23]:
another_list

['four', 'five']

In [24]:
new_list

['one', 'two', 'three', 'four', 'five']

In [25]:
new_list[0] = 'ONE ALL CAPS'

In [26]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [27]:
# .append allows you to append an item to a list

In [28]:
new_list.append('sixx')

In [29]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'sixx']

In [30]:
new_list.append(7)

In [31]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'sixx', 7]

In [32]:
# note that it has both strings and an integer

In [33]:
# pop() function

In [34]:
new_list.pop()

7

In [35]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'sixx']

In [36]:
# pop pops off the last element of a list

In [37]:
# you can assign that value to a variable

In [38]:
offed = new_list.pop()

In [39]:
offed

'sixx'

In [42]:
# You can specify an index position with pop()
# By default, the element popped off is index position -1

In [43]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [44]:
new_list.pop(0)

'ONE ALL CAPS'

In [45]:
new_list

['two', 'three', 'four', 'five']

In [46]:
# sort and reverse

In [47]:
new_list = ['a','e','x','b','c']

In [48]:
num_list = [4,3,1,5]

In [49]:
new_list.sort()

In [50]:
new_list

['a', 'b', 'c', 'e', 'x']

In [51]:
# sort just sorts the list in-place, you can't assign that value to anything.  It sorts the list in place.
# Try it and get a "NoneType" response.
# The list itself is being changed.

In [52]:
# to assign the sorted list, you have to ...
# new_list.sort()
# my_sorted_list = new_list

In [53]:
num_list

[4, 3, 1, 5]

In [54]:
num_list.sort()

In [55]:
num_list

[1, 3, 4, 5]

In [56]:
# reverse

In [57]:
num_list.reverse()

In [58]:
num_list

[5, 4, 3, 1]

In [59]:
# reverse also sorts in-place, so you can't directly assign the value

In [1]:
#
#

23 - Dictionaries in Python

In [2]:
# Dictionaries are unordered mappings for storing objects.
# Lists store objects in an unordered sequence.
# Dictionaries use a key-value pairing instead.

In [3]:
# Dictionaries use curly braces and colons to signify the keys and their associated values.
# Syntax:   {'key1':'value1','key2':'value2'}

In [4]:
# When to choose a list or a dictionary?
#
# Dictionaries: Objects retrieved by key name. Unordered sequence. Can't be sorted.
# Lists: Objects retrieved by location. Ordered sequence. Can be sorted, indexed or sliced.

In [6]:
# Use a dictionary when you don't really need to know an object's exact location
# Just remember that you can't sort a dictionary

In [7]:
my_dict = {'key1':'value1','key2':'value2'}

In [8]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [9]:
# We want 'value1', so we use square brackets and the key to bring up the value

In [11]:
my_dict['key1']

'value1'

In [12]:
prices_lookup = {'apple':2.99,'oranges':1.99,'milk':5.80}

In [13]:
prices_lookup['apple']

2.99

In [14]:
# Does this work if you make the key a variable?
fruit = 'apple'
prices_lookup[fruit]

2.99

In [15]:
# why, yes it does!

In [16]:
# Dictionaries can hold lists and even other dictionaries

In [17]:
# Here's a crazy example...
d = {'k1':123,'k2':[0,1,2],'k3':{'insideKey':100}}

In [18]:
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'insideKey': 100}}

In [19]:
d['k1']

123

In [22]:
d['k2'][2]

2

In [23]:
d['k3']['insideKey']

100

In [25]:
d['k2'][1]

1

In [26]:
d = {'key1':['a','b','c']}

In [27]:
d['key1'][2]

'c'

In [29]:
# you could also assign the dictionary call to a list
mylist = d['key1']
mylist

['a', 'b', 'c']

In [30]:
letter = mylist[2]
letter

'c'

In [31]:
letter.upper()

'C'

In [32]:
# so first I grabbed the key, 
# then made it into a list, 
# then did the indexing off that list to grab the letter, 
# then I made the upper casing off that letter

In [34]:
# you can also do that all in one line
d['key1'][2].upper()

'C'

In [35]:
# Say, that's WAY more efficient!!

In [36]:
# How to add key:value pairs to a dictionary

In [37]:
 d= {'k1':100,'k2':200}

In [38]:
d

{'k1': 100, 'k2': 200}

In [39]:
# To add a key:value pair to a dictionary, do this:
d['k3']=300

In [40]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [41]:
# Do the same thing to overwrite an existing key:value pair
d['k1'] = 'new value'

In [42]:
d

{'k1': 'new value', 'k2': 200, 'k3': 300}

In [44]:
d= {'k1':100,'k2':200}

In [45]:
# To show all the keys of a dictionary:
d.keys()

dict_keys(['k1', 'k2'])

In [47]:
d['k3'] = 300

In [48]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [50]:
# To show all the values of a dictionary

In [51]:
d.values()

dict_values([100, 200, 300])

In [52]:
# To show all of the key:values in pairs
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [53]:
type(d.items())

dict_items

In [55]:
# The d.items() function returns values as tuples

In [56]:
# Dictionary keys should always be strings

In [57]:
#
#
#

25 - Tuples with Python

In [2]:
# Tuples are very similar to lists
# Tuples are IMMUTABLE - they cannot be changed
# Once an element is inside a tuple, it cannot be reassigned
# Tuples are constructed using parenthesis: (1,2,3)

In [3]:
t = (1,2,3)

In [4]:
mylist = [1,2,3]

In [5]:
type(t)

tuple

In [6]:
type(mylist)

list

In [7]:
t[0]

1

In [9]:
mylist[0]

1

In [10]:
# There are 2 basic built-in methods for tuples
# index method
# counts method

In [11]:
t = ('a','b','c')

In [12]:
# see what methods are available by typing t.  and then hitting the tab key

In [13]:
t.count('a')

1

In [14]:
# t.count('a') returns a count of how many times 'a' is in the tuple

In [15]:
t.index('a')

0

In [16]:
# t.index('a') returns the index position of the first instance of 'a'

In [17]:
t = ('a','b','a','b','a')

In [18]:
t.index('a')

0

In [19]:
t.count('a')

3

In [20]:
# tuple immutability

In [21]:
mylist

[1, 2, 3]

In [22]:
mylist[0] = 'new'

In [23]:
mylist

['new', 2, 3]

In [24]:
t

('a', 'b', 'a', 'b', 'a')

In [25]:
t[0]

'a'

In [26]:
t[0] = 'new'

TypeError: 'tuple' object does not support item assignment

26 - Sets in Python

In [29]:
# Sets are unordered collections of unique elements
# There can only be one representative of the same object
# No duplicates!

In [33]:
myset = set()

In [34]:
myset

set()

In [35]:
myset.add(1)

In [36]:
myset

{1}

In [37]:
# It looks like a dictionary because it has curly braces, but it's not
# It doesn't have key:value pairs

In [38]:
myset.add(2)

In [39]:
myset

{1, 2}

In [40]:
myset.add(2)

In [41]:
myset

{1, 2}

In [42]:
# It won't repeat a value
# It's handy to cast a list to a set because it leave only unique values

In [43]:
# sets don't have any particular order

In [44]:
#
#
#

27 - Booleans in Python

In [45]:
# Booleans are operators that allow you to convey True or False statements
# They are very important when controlling flow and logic

In [46]:
True

True

In [47]:
type(True)

bool

In [48]:
False

False

In [49]:
type(False)

bool

In [52]:
# is 1 greater than 3
1 > 3

False

In [53]:
# is 1 == 1
1 == 1

True

In [62]:
# Using the None keyword as a pplaceholder for an object you don't want to assign yet.
# For example, if you're going to use c as a variable name for something later,
# and you want to avoid a potential error if your code calls b before it has a value,
# then you can do this...

In [63]:
# before the assignment
c

NameError: name 'c' is not defined

In [64]:
# using the keyword
c = None

In [65]:
# now when you call c you get...
c

In [66]:
# Well it doesn't show anything but it doesn't give the error

In [67]:
type([1,2,3,4])

list

In [68]:
type((1,2,3,4))

tuple

In [69]:
type([1,2,3,4])

list

In [70]:
type({1,2,3,4})

set

In [71]:
set([1,1,2,3])

{1, 2, 3}

In [1]:
#
#
#
#

28 - I/O with Basic Files in Python

In [3]:
# Here's a Jupyter-Notebook-specific way to create a text file
%%writefile myfile.txt
Hello this is a text file created using Jupyter Notebook
This is line two
This is the third line

SyntaxError: invalid syntax (490370941.py, line 3)

In [4]:
# Well that didn't work for me
# Here's the error after the first line:
%%writefile myfile.txt

UsageError: Line magic function `%%writefile` not found.

In [5]:
# There's a Line magic function error.
# Maybe that's not installed right now?
# Instead, I'll create the file using the Linux command line

In [6]:
# --- from the Linux command line, type:
# touch myfile.txt
# --- then:
# pluma myfile.txt
# --- and now enter the text from above

In [7]:
# Use the open() method to open a file in Python
myfile = open('myfile.txt')

In [9]:
# There was no error because the file exists
# If it doesn't exist, it looks like this:
myfile = open('notafile.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'notafile.txt'

In [13]:
# [Errno 2] means 'error number 2'
# This is a very common error in Python
# Only 2 possible ways to get this error
# - Enter the wrong file name or the file doesn't exist
# - Run the command in the wrong directory or using the wrong file path

In [15]:
# See what directory you're in with this command
pwd

NameError: name 'pwd' is not defined

In [16]:
# I don't know why pwd isn't working on Jupyter Notebook
# moving on...

In [17]:
myfile = open('myfile.txt')

In [18]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is line three\n'

In [19]:
# myfile.read() asks for everything in the file in a single string
# the \n represents a new line

In [20]:
# try to read the file again and you get back an empty string
myfile.read()

''

In [21]:
# The reason for this is an imaginary cursor starts in the top left of the file.
# It stops where you stop reading the file at and starts at the next position for the next read.
# If if stops at the end, it stays there.

In [23]:
# to reset the cursor...
myfile.seek(0)

0

In [24]:
# Now try it again:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is line three\n'

In [26]:
# save the output
myfile.seek(0)

0

In [27]:
contents = myfile.read()

In [28]:
contents

'Hello this is a text file\nthis is the second line\nthis is line three\n'

In [30]:
# Make the output into a list of strings, each line a new string
myfile.seek(0)

0

In [31]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is line three\n']

In [32]:
type(myfile.readlines())

list

In [35]:
# File locations
# If you want to open files in other locations, simply pass the entire file path.
# Windows - use double \ so Python doesn't treat the second \ as an escape character:
#   myfile = open('C:\\Users\\UserName\\Folder\\test.txt')
# Linux and Mac - use forward slashes just like your directory
#   myfile = open('/Users/YourUserName/Folder/myfile.txt')

In [1]:
myfile = open('myfile.txt')

In [2]:
pwd

'/home/paul/git-repos/python-bootcamp'

In [3]:
# I restarted the kernel and now pwd works

In [4]:
# So file is open.
# Now you need to close it

In [5]:
myfile.close()

In [6]:
# Those two commands is the old way of handling files
# myfile.open('myfile.txt')
# myfile.close()

In [8]:
# New way of doing it:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [9]:
# Do it like that and you no longer need to care about closing the file

In [10]:
contents

'Hello this is a text file\nthis is the second line\nthis is line three\n'

In [13]:
# Write to files
# FYI - type it out, then put the cursor right before 'myfile.txt' then hit shift-tab and you
#       open up information for functions that have already been defined.
# Notice in the "Signature:" there's something called mode='r'. 'r' stands for 'read'

with open('myfile.txt',mode='r') as myfile:
    contents = myfile.read()

In [14]:
contents

'Hello this is a text file\nthis is the second line\nthis is line three\n'

In [16]:
# change the 'r' to 'w' and get an "UnsupportedOperation: not readable" error:
with open('myfile.txt',mode='W') as myfile:
    contents = myfile.read()

ValueError: invalid mode: 'W'

In [17]:
# The reason is that you don't have permission to read the file, but you want to write the file

In [18]:
# 'a' = append to a file
# 'r' = read only
# 'w' = write only - overwrites existing files, or creates if it doesn't exist

In [31]:
%%writefile my_new_file.txt
ONE OF FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [32]:
# if the file already exist it will say "Overwriting my_new_file.txt"

In [33]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE OF FIRST
TWO ON SECOND
THREE ON THIRD

In [34]:
# now add a new line to it
# Using append, remember the cursor will be at the end of the file
# because we just read the file.
# So anything appended will go at the end of the file

In [35]:
with open('my_new_file.txt',mode='a') as f:
    f.write('\nfour on fourth')

In [36]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE OF FIRST
TWO ON SECOND
THREE ON THIRD

four on fourth

In [37]:
# writing

In [38]:
with open('asdfsadf.txt',mode='w') as f:
    f.write('I just created this file')

In [40]:
with open('asdfsadf.txt',mode='r') as f:
    print(f.read())

I just created this file

In [22]:
####################
# End of Section 3 #
####################

32 - Python Comparison Operators

In [4]:
# Check for equality
# Is 2 equal to 2?
2 == 2

True

In [5]:
# Is 2 equal to 1?
2 == 1

False

In [6]:
# Not just for numbers but for any objects

In [7]:
'hello' == 'bye'

False

In [8]:
'Hello' == 'hello'

False

In [9]:
'2' == 2

False

In [10]:
2.0 == 2

True

In [11]:
# Check for inequality
3 != 3

False

In [12]:
4 != 5

True

In [13]:
2 > 1

True

In [14]:
1 < 2

True

In [15]:
2 >= 2

True

In [16]:
2 >= 4

False

Table of Comparison Operators
 <br>  ==  If the values of two operands are equal, then the condition becomes true. Example: (a == b) is not true.
 <br>  !=  If values of two operands are not equal, then condition becomes true. Example: (a != b) is true.
 <br>  >   If the values of left operand is greater than right operand, condition becomes true. Example: (a > b) is not true.
 <br>  <   If value of left operand is less than right operand, condition becomes true. Example: (a < b) is true
 <br>  >=  If value of left operand is greater than or equal to right operand, condition becomes true. Example: (a >= b) is not true.
 <br>  <=  If value of left operand is less than or equal to right operand, condition becomes true. Example: (a <= b) is true.

In [1]:
2 >= 2

True

33 - Chaining Comparison Operators in Python with Logical Operators

In [3]:
# Logical Operators (keywords)
# and
# or
# not

In [4]:
1 < 2

True

In [5]:
2 > 4

False

In [7]:
# one way to do a chain comparison
1 < 2 < 3

True

In [8]:
1 < 2 > 3

False

In [9]:
# chain it with a logical operator
1 < 2 and 3 > 4

False

In [10]:
1 < 2 and 3 < 4

True

In [11]:
'h' == 'h' and 2 == 2

True

In [12]:
# add a little organization
('h' == 'h') and (2 == 2)

True

In [13]:
# or
# only 1 condition has to be true
1 == 1 or 2 == 3

True

In [14]:
1 == 2 or 2 == 3

False

In [15]:
# use keywords instead of just chaining the operators because it's more readable later

In [16]:
# not
# return the opposite boolean of what you just did
not(1 == 1)

False

In [17]:
not 1 == 1

False

In [18]:
300 > 200

True

In [19]:
not 300 > 200

False

In [20]:
# using the not keyword can be more readable than the alternative
1 != 1

False

In [21]:
not 1 == 1

False

In [ ]:
# End of section 4