In [ ]:
# int    integers        Whole numbers
# float  floating point  Numbers with a decimal point
# str    strings         Ordered sequence of characters

#The following are data structures
# list   lists           Ordered sequence of objects: [10,"hello",200.3]
# dict   dictionaries    Unorderd Key:Value pairs:    {"mykey":"value","name":"Frankie"}
# tup    tuples          Ordered immutable sequence of objects: (10,"hello",200.3)
# set    sets            Unordered collection of unique objects: {"a","b"}

# bool   booleans        Logical value indicating True or False

In [ ]:
2+2

In [ ]:
4*4

In [ ]:
#remember the mod operator
7 / 4

In [ ]:
#what is the remainder? use the mod operator %
7 % 4

In [ ]:
# is 23 even or odd?
# use mod to find out
# if 23 % 2 has a remainder of 0, it is even
23 % 2

In [ ]:
# order of operations
2 + 10 * 10 + 3

In [ ]:
(2+10) * (10 + 3)

In [ ]:
# important to remember
# why doesn't 0.1 + 0.2 - 0.3 = 0 ?
# This has to do with floating point accuracy and computer's abilities to represent numbers in memory.
# For a full breakdown, check out: https://docs.python.org/2/tutorial/floatingpoint.html

In [ ]:
0.1 + 0.2

In [ ]:
0.1

In [ ]:
0.2

In [ ]:
0.1 + 0.2 - 0.3

In [ ]:
0.2 + 0.3

In [ ]:
0.1 + 0.3

In [ ]:
0.1 + 0.3 - 0.4

In [ ]:
# looks like the real culprit is 0.2

In [ ]:
30+*6

In [ ]:
6**6

In [ ]:
6^6

In [ ]:
1/2

In [ ]:
# There are a lot more operands I need to learn
# what is **
# what is ^

In [ ]:
#################
# quick review of variable names and assignments
#################

In [ ]:
# remember:
# no spaces in a name
# also, none of these symbols:
# ' " , < > / ? \ | ( ) ! @ # $ % ^ & * ~ - + :

In [ ]:
# PEP8 - it's considered best practice that variable names are lower case

In [ ]:
# python uses dynamic typing to assign variables

In [ ]:
a = 5

In [ ]:
a = a + a
a

In [ ]:
# what type variable is "a"

In [ ]:
type(a)

In [ ]:
a = 30.1

In [ ]:
type(a)

In [ ]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [ ]:
my_taxes

In [ ]:
###################
# quick review of strings
###################

In [ ]:
"Hello"

In [ ]:
"I don't do that"

In [ ]:
'Hello'

In [ ]:
# strings are ORDERED SEQUENCES

In [ ]:
# indexing notation uses [ ]

In [ ]:
# character:     h   e   l   l   o
# index:         0   1   2   3   4
# reverse index: 0  -4  -3  -2  -1

In [ ]:
# slicing notation
#  [start : stop : step]
# start is the numerical index for the slice start
# stop is the index you will go up to, but not include
# step is the size of the jump you take

In [ ]:
# escape sequences in the print command
# \n \t

In [ ]:
print('hello \nworld')

In [ ]:
len('hello world')

In [ ]:
# string indexing and slicing
# string indexing is grabbing a single character
# string slicing is grabbing a section

In [ ]:
mystring = "Hello World"

In [ ]:
mystring

In [ ]:
mystring[0]

In [ ]:
mystring[-1]

In [ ]:
mystring[8]

In [ ]:
mystring[-8]

In [ ]:
mystring[9]

In [ ]:
# here's a quick way to reverse a string
mystring[::-1]

In [ ]:
mystring[:3]

In [ ]:
mystring="abcdefghijk"

In [ ]:
mystring[3:6]

In [ ]:
mystring[5:9]

In [ ]:
mystring="mystring"

In [ ]:
mystring[4:9]

In [ ]:
mystring="12121212"

In [ ]:
mystring[::2]

In [ ]:
mystring[::-2]

In [ ]:
'tinker'[1:4]

In [ ]:
# left off in Section 3, #17

# Remember: Strings are not mutable. You can't use indexing to change individual elements of a string

In [ ]:
# adding variables when printing strings
# two methods
# .format()
# f-strings  (formatted string literals)

In [ ]:
# .format()  method
# 'String here {} then here {}'.format("something1","something2")

In [ ]:
print('This is a string {}'.format('INSERTED'))

In [ ]:
print('the {} {} {}'.format('fox','brown','quick'))

In [ ]:
# use the index positions of the format() method
print('the {2} {1} {0}'.format('fox','brown','quick'))

In [ ]:
print('the {0} {0} {0}'.format('fox','brown','quick'))

In [ ]:
# you can also define key words

print('the {f} {b} {q}'.format(f='fox',b='brown',q='quick'))

In [ ]:
print('the {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

In [ ]:
# float formatting

result = 100/777

In [ ]:
result

In [ ]:
# change the level of precision and width of the number

print("the result was {r}".format(r=result))

In [ ]:
# the float formatting looks like:
# "{value:width.precision f}"

In [ ]:
print("the result was {r:1.3f}".format(r=result))

In [ ]:
# the width value can a lot of white space

print("the result was {r:10.1f}".format(r=result))

In [ ]:
result = 104.12345

print("the result was {r:1.2f}".format(r=result))

In [ ]:
#####
# f-strings
# formatted string literals

In [ ]:
name = "Jose"

In [ ]:
print(f"hello my name is {name}")

In [ ]:
result

In [ ]:
# what is this??

print(f"the result was {result:1.2}")

print(f"my name is {name:1.2}")

In [ ]:
name = "sam"

In [ ]:
age = 3
print(f"{name} is {age} years old")

In [ ]:
'i like %s' %'apples'

In [ ]:
##################
# Lists
# Lists are ordered sequences
# [1,2,3,4,5]

In [ ]:
my_list = [1,2,3]

In [ ]:
my_list

In [ ]:
type(my_list)

In [ ]:
my_list=['string',12,23,23.2]

In [ ]:
my_list

In [ ]:
type(my_list)

In [ ]:
len(my_list)

In [ ]:
mylist = ['one','two','three']

In [ ]:
mylist[0]

In [ ]:
mylist[1:]

In [ ]:
# slicing and indexing work like strings

In [ ]:
another_list = ['four','five']

In [ ]:
mylist + another_list

In [ ]:
new_list = mylist + another_list

In [ ]:
new_list

In [ ]:
new_list * 2

In [ ]:
new_list[0] = 'ONE'

new_list

In [ ]:
new_list

In [ ]:
# add elements to the end of a list
# use .append

new_list.append('six')

In [ ]:
new_list

In [ ]:
# remove items from a list
# use .pop()

new_list.pop()

In [ ]:
new_list

In [ ]:
popped_item = new_list.pop()

In [ ]:
popped_item

In [ ]:
new_list

In [ ]:
# removing an index position
# by default, the index position is -1

new_list.pop(0)

In [ ]:
new_list

In [ ]:
# sorting a list

new_list = ['a','e','c','n','d']
num_list = [3,2,5,1,6,4,2]

In [ ]:
new_list.sort()

In [ ]:
new_list

In [ ]:
num_list.sort()

In [ ]:
num_list

In [ ]:
# reverse method
# .reverse()

In [ ]:
num_list.reverse()

In [ ]:
num_list

In [ ]:
test_string = "this is a test"

In [ ]:
new_list = []
for i in test_string:
    new_list.append(i)

In [ ]:
new_list

In [ ]:
new_list.reverse()

In [ ]:
new_list

In [ ]:
rev_string = ''
for i in new_list:
    rev_string += i

In [ ]:
rev_string

In [ ]:
test_string

In [ ]:
# a simple way to reverse a string while keeping it a string

new_string2 = ''
i = 0
x = len(test_string)
while abs(i) < x:
    i -= 1
    new_string2 += test_string[i]
print(f"Forward: {test_string}\nReverse: {new_string2}")

In [ ]:
# How do I index a nested list?
# print the '2' from the following list:
test_list = [1,1,[1,2]]

print(test_list[2][1])

In [ ]:
################
# Dictionaries #
################

In [ ]:
# Dictionaries are unordered mappings for storing objects.
# They use key:value pairs to quickly grab objects without needing to know an index location

In [ ]:
# Dictionary syntax looks like this:
# {'key1':'value1','key2':'value2'}

In [ ]:
# when to chose a list? use this when you need to order, index, and slice items
# when to chose a dictionary? use this when for unordered items that can't be sorted

In [ ]:
# sample dictionary
my_dict = {'key1':'value1','key2':'value2'}

In [ ]:
my_dict

In [ ]:
# get a value
my_dict['key1']

In [ ]:
# prices in a store
# lookup prices

prices_lookup = {'apple':2.99,'oranges':1.99,'milk':5.80}

In [ ]:
prices_lookup['apple']

In [ ]:
x = 'apple'

In [ ]:
prices_lookup[x]

In [ ]:
d = {'k1':123,'k2':[0,1,2],'k3':{'insideKey':100}}

In [ ]:
d

In [ ]:
# try to grab the list inside the dictionary d
d['k2']

In [ ]:
# try to grab the '1' in that list
d['k2'][1]

In [ ]:
# grab the value 100 inside the inner dictionary
d['k3']['insideKey']

In [ ]:
# you have to stack the calls to get to a list or dictionary inside of a dictionary

In [ ]:
# grab the number '2' in the list
d['k2'][2]

In [ ]:
d2 = {'key1':['God','Guns','Guts']}

In [ ]:
d2['key1'][0]

In [ ]:
x = 0
while x<3:
    print(d2['key1'][x])
    x+=1

In [ ]:
# make 'Guts' all uppercase
d2['key1'][2].upper()

In [ ]:
# that's the same thing as doing all of these calls
mylist = d2['key1']
letters = mylist[2]
letters.upper()

In [ ]:
# how to add new key:value pairs to an existing dictionary
d = {'k1':100,'k2':200}

In [ ]:
# now add in an additional key:value pair
d['k3'] = 300

In [ ]:
d

In [ ]:
# overwrite an existing key:value
d['k1'] = "I changed it"

In [ ]:
d

In [ ]:
# grab all the keys
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [ ]:
d.keys

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
d.items()

In [ ]:
type(d.items())

In [ ]:
x = d.items()

In [ ]:
type(x)

In [ ]:
x

In [ ]:
x(1)

In [ ]:
x[1]

In [ ]:
type(x())

In [ ]:
x

In [ ]:
d.items()

In [ ]:
# this returns the key:value pairs as a tuple

In [ ]:
x[0][0]

In [ ]:
x{0}

In [ ]:
x['k1']

In [ ]:
# how do I use this?
x

In [ ]:
########################
# Tuples
########################

In [ ]:
# very similar to lists, but they are IMMUTABLE
# once an element is inside a tuple, it can't be reassigned
# tuples use parentheses: (1,2,3)

In [49]:
t = (1,2,3)

In [50]:
mylist = [1,2,3]

In [51]:
type(t)

tuple

In [52]:
type(mylist)

list

In [ ]:
len(t)

In [ ]:
len(mylist)

In [ ]:
t = ('one',2,3)

In [ ]:
t[0]

In [ ]:
t[-1]

In [ ]:
# indexing works on tuples just like lists

In [ ]:
t = ('a','a','b')

In [ ]:
# count how many times an item shows up in a tuple

In [ ]:
t.count('a')

In [ ]:
x = t.count('a')

In [ ]:
x

In [ ]:
t.index('a')

In [ ]:
# t.index('a') returns the first index position that a value shows up

In [ ]:
t

In [ ]:
mylist

In [ ]:
mylist[0] = 'new'

In [ ]:
mystli

In [ ]:
mylist

In [ ]:
t[0] = 'new'

In [ ]:
# tuples are a great source of data integrity
# you can use them to pass around data values to make sure they don't get changed

In [ ]:
# tuples don't have a lot of methods associated with them

In [ ]:
###########################
# Sets
###########################
# Sets are unordered collections of UNIQUE elements.
# You can never have more than one representative of the same object in a set

In [ ]:
myset = set()

In [ ]:
myset

In [ ]:
type(myset)

In [ ]:
myset.add(1)

In [ ]:
myset

In [ ]:
len(myset)

In [ ]:
# It looks like a dictionary because it has curly braces, but it's not because it doesn't have key:value pairs

In [ ]:
myset.add(2)

In [ ]:
myset

In [ ]:
myset.add(2)

In [ ]:
myset

In [ ]:
# See? If you try to add a duplicate value, it disregards it

In [ ]:
# you can cast a list to a set and remove the duplicates

In [ ]:
mylist = [1,1,1,1,2,2,2,2,3,3,3,3]

In [ ]:
mylist

In [ ]:
# cast the list as a set
set(mylist)

In [ ]:
mylist2 = [3,2,1,5,4,3,1,2,3,4,4,4]

In [ ]:
set(mylist2)

In [ ]:
mylist2

In [ ]:
mylist.sort()

In [ ]:
mylist

In [ ]:
mylist2.sort()

In [ ]:
mylist2

In [ ]:
set(mylist2)

In [ ]:
mylist2.sort()

In [ ]:
set('Four score and seven years ago')

In [ ]:
###################
# Booleans
###################

In [ ]:
# Operators that convey True of False statements

In [ ]:
type(true)

In [ ]:
type(True)

In [ ]:
1 > 2

3 > 4

In [ ]:
3 > 4

In [ ]:
1 == 2

In [ ]:
# none is a placeholder word
# stops an error when early in the code writing

In [ ]:
#########################
# I/O with Basic Files in Python
#########################

In [ ]:
# creating a text file with Jupyter notebook "magic functionality"

In [ ]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

In [ ]:
myfile = open('myfile.txt')

In [ ]:
myfile

In [ ]:
myfile = open('theresnofile.txt')

In [ ]:
# provide the correct file path
pwd

In [ ]:
pwd

In [ ]:
print(myfile)

In [ ]:
myfile.read()

In [ ]:
# \n indicates a new line

In [ ]:
myfile.read()

In [ ]:
# imagine there's a cursor at the beginning of the file
# when you .read() it, the cursor goes to the end of the file
# if you want to read it again, set the .seek(0)

In [ ]:
myfile.seek(0)

In [ ]:
myfile.read()

In [ ]:
myfile.read()

In [ ]:
myfile.seek(10)

In [ ]:
myfile.read()

In [ ]:
myfile.read(-1)

In [ ]:
myfile.seek(0)

In [ ]:
myfile.readlines()

In [ ]:
# this makes a list you can loop through or index

In [ ]:
# .read() returns a string
# .readlines() returns a list

In [ ]:
# File Locations
# provide the full file path
# for windows
# myfile = open("C:\\Users\\UserName\\Folder\\test.txt")
# uses double backslashes to differentiate the file path from escape characters

# for mac and linux
# myfile = open("/Users/YouUserName/Folder/myfile.txt")

# use pwd to get the current directory

In [ ]:
pwd

In [ ]:
# Best practices
# REMEMBER TO CLOSE THE FILE

In [ ]:
myfile.close()

In [ ]:
# avoid errors with the 'with' statement

In [ ]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [ ]:
contents

In [ ]:
# put the cursor below between (  and  '  Then hit shift-tab to popup information about the function

In [ ]:
with open('myfile.txt',mode='w') as myfile:
    contents = myfile.read()

In [ ]:
# the error happens because you gave permission to 'w' write to the file, not .read() it

In [ ]:
# use r, w, a (for append)
# mode='r+' means reading and writing
# mode='w+' is writing and reading (Overwrites existing files or creates a new file)
with open('myfile.txt',mode='r') as myfile:
    contents = myfile.read()

In [ ]:
contents

In [2]:
# create a new file and play around

In [3]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [5]:
with open('my_new_file.txt',mode='r') as f:
          print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [6]:
with open('my_new_file.txt',mode='a') as f:
    f.write('FOUR ON FOURTH')

In [7]:
with open('my_new_file.txt',mode='r') as f:
          print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [8]:
# you can also use escape characters with append

In [10]:
with open('my_new_file.txt',mode='a') as f:
          f.write('\nFIVE ON FIFTH')

In [11]:
with open('my_new_file.txt',mode='r') as f:
          print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH
FIVE ON FIFTH

In [12]:
# use mode='w' to create a file

In [13]:
with open('xyz.txt',mode='w') as f:
    f.write('I CREATED THIS FILE')

In [14]:
with open('xyz.txt',mode='r') as f:
    print(f.read())

I CREATED THIS FILE

In [1]:
####################################################
# Objects and Data Structures Assessment Test
####################################################

In [2]:
# Write a brief description of all the following Object Types and Data Structures
#
# Numbers:
# Only includes 0-9
#
# Strings:
# Can be anything. Strings are iterable and indexable
#
# Lists:
# Can be anything. Lists are mutable, iterable and indexable. Index positions can be reassigned. Uses [] for assignment.
#
# Tuples:
# Can be anything. Tuples are immutable, iterable and indexable. Uses () for assignment.
#
# Dictionaries:
# Can be anything. Dictionaries are mutable. Not indexable. Uses key:value pairs. Uses {} for assignment.

In [14]:
# Numbers
# Write an equation that uses multiplication, division, an exponent, addition, and subtraction that equal to 100.25
#
a = ((((2**5) /8) * 25 + 1) - 0.75)
print(a)

# Answer these 3 questions without typing code. then code to check your answer.
#
# What is the value of the expression 4 * (6 + 5)?
# The value is 44
b = 4 * (6 + 5)
print(b)

# What is the value of the expression 4 * 6 + 5?
# The value is 29
c = 4 * 6 + 5
print(c)

# What is the value of the expression 4 + 6 * 5?
# The value is 34
d = 4 + 6 * 5
print(d)

100.25
44
29
34

In [15]:
# What is the type of the result of the expression 3 + 1.5 + 4?
# The type is float.
e = 3 + 1.5 + 4
print(type(e))

<class 'float'>

In [16]:
# What would you use to find a number's square root, as well as its square?
# The square of a number is x**2
# the square root of a number is (we didn't go over that. Use math.sqrt())

In [25]:
# Strings
#
# Given the string 'hello' give an index command that returns 'e'.
#
s = 'hello'
print(s[1])

# Reverse the string 'hello' using slicing
print(s[::-1])

# Given the string hello, give two methods of producing the letter 'o' using indexing
print(f'Method 1: {s[4]}')
print(f'Method 2: {s[-1]}')

e
olleh
Method 1: o
Method 2: o

In [35]:
# Lists
#
# Build this list[0,0,0] two separate ways
#
first = []
first.append(0)
first.append(0)
first.append(0)
print(f'Method 1: {first}')

second = [0,0,0]
print(f'Method 2: {second}')

Method 1: [0, 0, 0]
Method 2: [0, 0, 0]

In [37]:
type(first), type(second)

(list, list)

In [38]:
# Reassign 'hello' in this nested list to day 'goodbye' instead

list3 = [1,2,[3,4,'hello']]
print(f'Before: {list3}')

list3[2][2] = 'goodbye'
print(f'After: {list3}')

Before: [1, 2, [3, 4, 'hello']]
After: [1, 2, [3, 4, 'goodbye']]

In [39]:
# Sort the list below

list4 = [5,3,4,6,1]
print(f'Unsorted: {list4}')
list4.sort()
print(f'Sorted: {list4}')

Unsorted: [5, 3, 4, 6, 1]
Sorted: [1, 3, 4, 5, 6]

In [47]:
# Dictionaries
# 
# Using keys and indexing, grab the 'hello' from the following dictionaries:
#
d1 = {'simple_key':'hello'}
print(d1['simple_key'])

d2 = {'k1':{'k2':'hello'}}
print(d2['k1']['k2'])

d3 = {'k1':[{'nest_key':['this is deep',['hello']]}]}
print(d3['k1'][0]['nest_key'][1][0])

d4 = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
print(d4['k1'][2]['k2'][1]['tough'][2][0])

hello
hello
hello
hello

In [48]:
# Can you sort a dictionary? Why or why not?
#
# No, you can't sort a dictionary. It is made up of UNORDERED key:value pairs.
# There's no way to index a dictionary.

In [53]:
# Tuples
#
# What is the major difference between tuples and lists?
#
# Tuples are IMMUTABLE, and lists can be changed
#
#
# How do you create a tuple?
#
# Use () parenthesis when assigning a value to a variable
# mytuple = (0,1,2)
#

In [54]:
# Sets
#
# What is unique about a set?
#
# Sets cannot contain duplicate values.
# If a duplicate value is added into a set, it is ignored.
#
#
# Use a set to find the unique values of the list below:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [55]:
testset = set(list5)
print(list5)
print(testset)

[1, 2, 2, 33, 4, 4, 11, 22, 3, 3, 2]
{1, 2, 33, 4, 3, 11, 22}

In [56]:
type(testset)

set

In [57]:
#######################
# BONUS
# Booleans
# Comparison operators

# 2>3
# False
2>3

False

In [58]:
# 3 <= 2
# False
3 <= 2

False

In [59]:
# 3 == 2.0
False
3 == 2.0

False

In [62]:
# 3.0 == 3
# False **I WAS WRONG - THIS ANSWER IS TRUE**
3.0 == 3

True

In [63]:
# 4**0.5 != 2
# False
4**0.5 != 2

False

In [64]:
# Final question
# What is the boolean output of the cell block below?
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

In [65]:
# True or False?
# l_one[2][0] >= l_two[2]['k1']
# 3 >= 4
# False

l_one[2][0] >= l_two[2]['k1']

False

In [66]:
# End of the assessment