In [1]:
# int    integers        Whole numbers
# float  floating point  Numbers with a decimal point
# str    strings         Ordered sequence of characters

#The following are data structures
# list   lists           Ordered sequence of objects: [10,"hello",200.3]
# dict   dictionaries    Unorderd Key:Value pairs:    {"mykey":"value","name":"Frankie"}
# tup    tuples          Ordered immutable sequence of objects: (10,"hello",200.3)
# set    sets            Unordered collection of unique objects: {"a","b"}

# bool   booleans        Logical value indicating True or False

In [2]:
2+2

4

In [3]:
4*4

16

In [4]:
#remember the mod operator
7 / 4

1.75

In [5]:
#what is the remainder? use the mod operator %
7 % 4

3

In [6]:
# is 23 even or odd?
# use mod to find out
# if 23 % 2 has a remainder of 0, it is even
23 % 2

1

In [7]:
# order of operations
2 + 10 * 10 + 3

105

In [8]:
(2+10) * (10 + 3)

156

In [9]:
# important to remember
# why doesn't 0.1 + 0.2 - 0.3 = 0 ?
# This has to do with floating point accuracy and computer's abilities to represent numbers in memory.
# For a full breakdown, check out: https://docs.python.org/2/tutorial/floatingpoint.html

In [10]:
0.1 + 0.2

0.30000000000000004

In [11]:
0.1

0.1

In [12]:
0.2

0.2

In [13]:
0.1 + 0.2 - 0.3

5.551115123125783e-17

In [14]:
0.2 + 0.3

0.5

In [15]:
0.1 + 0.3

0.4

In [16]:
0.1 + 0.3 - 0.4

0.0

In [17]:
# looks like the real culprit is 0.2

In [18]:
30+*6

SyntaxError: invalid syntax (1004970667.py, line 1)

In [19]:
6**6

46656

In [20]:
6^6

0

In [21]:
1/2

0.5

In [22]:
# There are a lot more operands I need to learn
# what is **
# what is ^

In [23]:
#################
# quick review of variable names and assignments
#################

In [25]:
# remember:
# no spaces in a name
# also, none of these symbols:
# ' " , < > / ? \ | ( ) ! @ # $ % ^ & * ~ - + :

In [26]:
# PEP8 - it's considered best practice that variable names are lower case

In [27]:
# python uses dynamic typing to assign variables

In [28]:
a = 5

In [29]:
a = a + a
a

10

In [30]:
# what type variable is "a"

In [31]:
type(a)

int

In [32]:
a = 30.1

In [33]:
type(a)

float

In [34]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [35]:
my_taxes

10.0

In [36]:
###################
# quick review of strings
###################

In [37]:
"Hello"

'Hello'

In [38]:
"I don't do that"

"I don't do that"

In [39]:
'Hello'

'Hello'

In [40]:
# strings are ORDERED SEQUENCES

In [41]:
# indexing notation uses [ ]

In [42]:
# character:     h   e   l   l   o
# index:         0   1   2   3   4
# reverse index: 0  -4  -3  -2  -1

In [43]:
# slicing notation
#  [start : stop : step]
# start is the numerical index for the slice start
# stop is the index you will go up to, but not include
# step is the size of the jump you take

In [46]:
# escape sequences in the print command
# \n \t

In [48]:
print('hello \nworld')

hello
world

In [49]:
len('hello world')

11

In [50]:
# string indexing and slicing
# string indexing is grabbing a single character
# string slicing is grabbing a section

In [51]:
mystring = "Hello World"

In [52]:
mystring

'Hello World'

In [53]:
mystring[0]

'H'

In [54]:
mystring[-1]

'd'

In [55]:
mystring[8]

'r'

In [56]:
mystring[-8]

'l'

In [57]:
mystring[9]

'l'

In [62]:
# here's a quick way to reverse a string
mystring[::-1]

'dlroW olleH'

In [63]:
mystring[:3]

'Hel'

In [64]:
mystring="abcdefghijk"

In [67]:
mystring[3:6]

'def'

In [68]:
mystring[5:9]

'fghi'

In [69]:
mystring="mystring"

In [71]:
mystring[4:9]

'ring'

In [72]:
mystring="12121212"

In [73]:
mystring[::2]

'1111'

In [74]:
mystring[::-2]

'2222'

In [75]:
'tinker'[1:4]

'ink'

In [1]:
# left off in Section 3, #17

# Remember: Strings are not mutable. You can't use indexing to change individual elements of a string

In [2]:
# adding variables when printing strings
# two methods
# .format()
# f-strings  (formatted string literals)

In [3]:
# .format()  method
# 'String here {} then here {}'.format("something1","something2")

In [4]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [5]:
print('the {} {} {}'.format('fox','brown','quick'))

the fox brown quick

In [6]:
# use the index positions of the format() method
print('the {2} {1} {0}'.format('fox','brown','quick'))

the quick brown fox

In [9]:
print('the {0} {0} {0}'.format('fox','brown','quick'))

the fox fox fox

In [10]:
# you can also define key words

print('the {f} {b} {q}'.format(f='fox',b='brown',q='quick'))

the fox brown quick

In [11]:
print('the {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

the quick brown fox

In [12]:
# float formatting

result = 100/777

In [13]:
result

0.1287001287001287

In [15]:
# change the level of precision and width of the number

print("the result was {r}".format(r=result))

the result was 0.1287001287001287

In [18]:
# the float formatting looks like:
# "{value:width.precision f}"

In [19]:
print("the result was {r:1.3f}".format(r=result))

the result was 0.129

In [20]:
# the width value can a lot of white space

print("the result was {r:10.1f}".format(r=result))

the result was        0.1

In [21]:
result = 104.12345

print("the result was {r:1.2f}".format(r=result))

the result was 104.12

In [22]:
#####
# f-strings
# formatted string literals

In [23]:
name = "Jose"

In [24]:
print(f"hello my name is {name}")

hello my name is Jose

In [25]:
result

104.12345

In [32]:
# what is this??

print(f"the result was {result:1.2}")

print(f"my name is {name:1.2}")

the result was 1e+02
my name is Jo

In [33]:
name = "sam"

In [35]:
age = 3
print(f"{name} is {age} years old")

sam is 3 years old

In [36]:
'i like %s' %'apples'

'i like apples'

In [37]:
##################
# Lists
# Lists are ordered sequences
# [1,2,3,4,5]

In [38]:
my_list = [1,2,3]

In [39]:
my_list

[1, 2, 3]

In [40]:
type(my_list)

list

In [42]:
my_list=['string',12,23,23.2]

In [43]:
my_list

['string', 12, 23, 23.2]

In [44]:
type(my_list)

list

In [45]:
len(my_list)

4

In [46]:
mylist = ['one','two','three']

In [47]:
mylist[0]

'one'

In [48]:
mylist[1:]

['two', 'three']

In [49]:
# slicing and indexing work like strings

In [50]:
another_list = ['four','five']

In [51]:
mylist + another_list

['one', 'two', 'three', 'four', 'five']

In [52]:
new_list = mylist + another_list

In [53]:
new_list

['one', 'two', 'three', 'four', 'five']

In [56]:
new_list * 2

['one', 'two', 'three', 'four', 'five', 'one', 'two', 'three', 'four', 'five']

In [57]:
new_list[0] = 'ONE'

new_list

In [58]:
new_list

['ONE', 'two', 'three', 'four', 'five']

In [59]:
# add elements to the end of a list
# use .append

new_list.append('six')

In [60]:
new_list

['ONE', 'two', 'three', 'four', 'five', 'six']

In [61]:
# remove items from a list
# use .pop()

new_list.pop()

'six'

In [62]:
new_list

['ONE', 'two', 'three', 'four', 'five']

In [63]:
popped_item = new_list.pop()

In [64]:
popped_item

'five'

In [65]:
new_list

['ONE', 'two', 'three', 'four']

In [68]:
# removing an index position
# by default, the index position is -1

new_list.pop(0)

'two'

In [69]:
new_list

['three', 'four']

In [70]:
# sorting a list

new_list = ['a','e','c','n','d']
num_list = [3,2,5,1,6,4,2]

In [71]:
new_list.sort()

In [72]:
new_list

['a', 'c', 'd', 'e', 'n']

In [73]:
num_list.sort()

In [74]:
num_list

[1, 2, 2, 3, 4, 5, 6]

In [75]:
# reverse method
# .reverse()

In [76]:
num_list.reverse()

In [77]:
num_list

[6, 5, 4, 3, 2, 2, 1]

In [78]:
test_string = "this is a test"

In [81]:
new_list = []
for i in test_string:
    new_list.append(i)

In [82]:
new_list

['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 't', 'e', 's', 't']

In [83]:
new_list.reverse()

In [84]:
new_list

['t', 's', 'e', 't', ' ', 'a', ' ', 's', 'i', ' ', 's', 'i', 'h', 't']

In [85]:
rev_string = ''
for i in new_list:
    rev_string += i

In [86]:
rev_string

'tset a si siht'

In [87]:
test_string

'this is a test'

In [110]:
# a simple way to reverse a string while keeping it a string

new_string2 = ''
i = 0
x = len(test_string)
while abs(i) < x:
    i -= 1
    new_string2 += test_string[i]
print(f"Forward: {test_string}\nReverse: {new_string2}")

Forward: this is a test
Reverse: tset a si siht

In [112]:
# How do I index a nested list?
# print the '2' from the following list:
test_list = [1,1,[1,2]]

print(test_list[2][1])

2

In [111]:
################
# Dictionaries #
################

In [113]:
# Dictionaries are unordered mappings for storing objects.
# They use key:value pairs to quickly grab objects without needing to know an index location

In [114]:
# Dictionary syntax looks like this:
# {'key1':'value1','key2':'value2'}

In [115]:
# when to chose a list? use this when you need to order, index, and slice items
# when to chose a dictionary? use this when for unordered items that can't be sorted

In [116]:
# sample dictionary
my_dict = {'key1':'value1','key2':'value2'}

In [117]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [118]:
# get a value
my_dict['key1']

'value1'

In [119]:
# prices in a store
# lookup prices

prices_lookup = {'apple':2.99,'oranges':1.99,'milk':5.80}

In [120]:
prices_lookup['apple']

2.99

In [121]:
x = 'apple'

In [122]:
prices_lookup[x]

2.99

In [123]:
d = {'k1':123,'k2':[0,1,2],'k3':{'insideKey':100}}

In [124]:
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'insideKey': 100}}

In [125]:
# try to grab the list inside the dictionary d
d['k2']

[0, 1, 2]

In [126]:
# try to grab the '1' in that list
d['k2'][1]

1

In [127]:
# grab the value 100 inside the inner dictionary
d['k3']['insideKey']

100

In [128]:
# you have to stack the calls to get to a list or dictionary inside of a dictionary

In [129]:
# grab the number '2' in the list
d['k2'][2]

2

In [130]:
d2 = {'key1':['God','Guns','Guts']}

In [131]:
d2['key1'][0]

'God'

In [134]:
x = 0
while x<3:
    print(d2['key1'][x])
    x+=1

God
Guns
Guts

In [136]:
# make 'Guts' all uppercase
d2['key1'][2].upper()

'GUTS'

In [137]:
# that's the same thing as doing all of these calls
mylist = d2['key1']
letters = mylist[2]
letters.upper()

'GUTS'

In [138]:
# how to add new key:value pairs to an existing dictionary
d = {'k1':100,'k2':200}

In [140]:
# now add in an additional key:value pair
d['k3'] = 300

In [141]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [142]:
# overwrite an existing key:value
d['k1'] = "I changed it"

In [143]:
d

{'k1': 'I changed it', 'k2': 200, 'k3': 300}

In [144]:
# grab all the keys
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [145]:
d.keys

In [146]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [147]:
d.values()

dict_values([100, 200, 300])

In [148]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [151]:
type(d.items())

dict_items

In [152]:
x = d.items()

In [153]:
type(x)

dict_items

In [154]:
x

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [155]:
x(1)

TypeError: 'dict_items' object is not callable

In [156]:
x[1]

TypeError: 'dict_items' object is not subscriptable

In [157]:
type(x())

TypeError: 'dict_items' object is not callable

In [158]:
x

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [159]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [160]:
# this returns the key:value pairs as a tuple

In [161]:
x[0][0]

TypeError: 'dict_items' object is not subscriptable

In [162]:
x{0}

SyntaxError: invalid syntax (509403736.py, line 1)

In [163]:
x['k1']

TypeError: 'dict_items' object is not subscriptable

In [164]:
# how do I use this?
x

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [165]:
########################
# Tuples
########################

In [166]:
# very similar to lists, but they are IMMUTABLE
# once an element is inside a tuple, it can't be reassigned
# tuples use parentheses: (1,2,3)

In [167]:
t = (1,2,3)

In [168]:
mylist = [1,2,3]

In [169]:
type(t)

tuple

In [170]:
type(mylist)

list

In [171]:
len(t)

3

In [172]:
len(mylist)

3

In [173]:
t = ('one',2,3)

In [174]:
t[0]

'one'

In [175]:
t[-1]

3

In [176]:
# indexing works on tuples just like lists

In [177]:
t = ('a','a','b')

In [178]:
# count how many times an item shows up in a tuple

In [179]:
t.count('a')

2

In [180]:
x = t.count('a')

In [181]:
x

2

In [182]:
t.index('a')

0

In [183]:
# t.index('a') returns the first index position that a value shows up

In [184]:
t

('a', 'a', 'b')

In [185]:
mylist

[1, 2, 3]

In [186]:
mylist[0] = 'new'

In [187]:
mystli

NameError: name 'mystli' is not defined

In [188]:
mylist

['new', 2, 3]

In [189]:
t[0] = 'new'

TypeError: 'tuple' object does not support item assignment

In [190]:
# tuples are a great source of data integrity
# you can use them to pass around data values to make sure they don't get changed

In [191]:
# tuples don't have a lot of methods associated with them

In [192]:
###########################
# Sets
###########################
# Sets are unordered collections of UNIQUE elements.
# You can never have more than one representative of the same object in a set

In [193]:
myset = set()

In [194]:
myset

set()

In [195]:
type(myset)

set

In [196]:
myset.add(1)

In [197]:
myset

{1}

In [198]:
len(myset)

1

In [200]:
# It looks like a dictionary because it has curly braces, but it's not because it doesn't have key:value pairs

In [201]:
myset.add(2)

In [202]:
myset

{1, 2}

In [203]:
myset.add(2)

In [204]:
myset

{1, 2}

In [205]:
# See? If you try to add a duplicate value, it disregards it

In [206]:
# you can cast a list to a set and remove the duplicates

In [207]:
mylist = [1,1,1,1,2,2,2,2,3,3,3,3]

In [209]:
mylist

[1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3]

In [211]:
# cast the list as a set
set(mylist)

{1, 2, 3}

In [212]:
mylist2 = [3,2,1,5,4,3,1,2,3,4,4,4]

In [213]:
set(mylist2)

{1, 2, 3, 4, 5}

In [214]:
mylist2

[3, 2, 1, 5, 4, 3, 1, 2, 3, 4, 4, 4]

In [216]:
mylist.sort()

In [217]:
mylist

[1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3]

In [218]:
mylist2.sort()

In [219]:
mylist2

[1, 1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5]

In [220]:
set(mylist2)

{1, 2, 3, 4, 5}

In [222]:
mylist2.sort()

In [223]:
set('Four score and seven years ago')

{' ', 'F', 'a', 'c', 'd', 'e', 'g', 'n', 'o', 'r', 's', 'u', 'v', 'y'}

In [224]:
###################
# Booleans
###################

In [225]:
# Operators that convey True of False statements

In [226]:
type(true)

NameError: name 'true' is not defined

In [227]:
type(True)

bool

In [230]:
1 > 2

False

3 > 4

In [231]:
3 > 4

False

In [232]:
1 == 2

False

In [233]:
# none is a placeholder word
# stops an error when early in the code writing